[2014-09-15 23:55] kdahlquist opened #1 "copy gh-pages from GRNsight repository as a starting point for GRNmap web site"

[2014-09-16 15:56] kdahlquist opened #2 "Decide which algorithm to use for GRNmap"
@juansc and @bengfitzpatrick are going to get together to finalize which algorithm to use for the GRNmap model. (was issue number 3 in previous repository)

[2014-09-18 20:40] kdahlquist opened #3 "Commit current Matlab code to GitHub repository"
@juansc please do this as soon as possible so we can start using the GitHub code versioning system.

[2014-09-20 23:23] #3 closed, assigned to juansc

[2014-10-06 22:31] kdahlquist opened #4 "Documentation of input/output spreadsheet format."
We need documentation of the input spreadsheet format.  All sheets should be listed and described in detail what data need to be provided.  Additionally, a description of all new worksheets in the output file should also be described.  This information could initially begin on the GRNmap wiki and then be moved to the Documentation page on the web site.

[2014-10-09 22:40] kdahlquist opened #5 "Download transcription factor data from SGD and YEASTRACT for constructing networks"
Will download transcription factor data from SGD and YEASTRACT so that we have a standard set of data to use when building new networks.  We don't want to be confused by data version issues if those databases get updated while we are developing our process for creating networks.

[2014-10-09 22:48] kdahlquist opened #6 "Generate list of transcription factors that have significant changes in expression in Dahlquist microarray data"
* @kdahlquist will complete a final version of the microarray dataset for use with future GRNmap development
* @Nwilli31 will generate a list of transcription factors that have expression patterns significantly different than zero from the within-strain ANOVA test.  B & H corrected p value of < 0.05
* @Nwilli31 will generate a list of transcription factors that have expression patterns that are si

[2014-10-09 22:51] kdahlquist opened #7 "Search literature to find mRNA production and degradation rates for yeast"
Suggested reference:
* “A Complete Set of Nascent Transcription Rates for Yeast Genes” PLoS One Nov. 2010 Vicent Pelechano, Sebastian Chavez, Jose E. Perez-Ortın

[2014-10-09 22:53] kdahlquist opened #8 "Allow full microarray dataset in "strain_log2_expression" worksheet"
Then all that would need to be changed is the adjacency matrix when running the model with a new network.

[2014-10-09 22:54] kdahlquist opened #9 "Write standard deviations of microarray data to output sheet"
Instead of having a worksheet "concentration_sigmas" have MATLAB compute the standard deviations and p values of the data.  Requires that biological replicates of the log2 fold changes provided, not just averages.

[2014-10-09 22:57] kdahlquist opened #10 "Run current version of model on data for each strain alone and compare to results when run with multiple strain data"
@Nwilli31 will do the following:
* run the parameter estimation with wild type data alone
* use those parameters to run a forward simulation with the data from each strain deleted from the network
* run the parameter estimation with each deletion strain data alone
* run the forward simulation with the corresponding deletion strain data

[2014-10-09 23:00] kdahlquist opened #11 "change names of worksheets that say "concentration""
* change "log2_concentration" worksheet name to "log2_expression"
* change "concentration_sigma" worksheet name to "expression_standard_deviations"

The latter would be superseded by the change requested in #9

[2014-10-09 23:06] kdahlquist opened #12 "Change footer on each page to say "GRNmap code is available under the open source BSD license.""
There is a reference to GRNsight in the footer to each page that needs to be changed to GRNmap.

The full footer should read:

This web site is free and open to all users and there is no login requirement.
Web site content is available under the Creative Commons Attribution Non-Commercial Share Alike. GRNmap code is available under the open source BSD license.

Preserve the links that are there to

[2014-10-09 23:08] kdahlquist opened #13 "fix indenting on People page"
breaking this out as a separate issue from #1

[2014-10-09 23:09] kdahlquist opened #14 "Create download page and package executable as a release"
Breaking this out from Issue #1.

[2014-10-09 23:09] #1 closed, assigned to nobody

[2014-10-09 23:12] kdahlquist opened #15 "Changes to Links page"
Edit the current content of the Links page to the following, preserving links unless otherwise noted:

Gene Regulatory Networks

[code]

Principal Investigators

[code]

Software

[code]

[2014-10-09 23:13] kdahlquist opened #16 "Changes to Contact page"
- Change reference on top of page to GRNsight @ GitHub to GRNmap @ GitHub, fixing link.
- Remove Dr. Dionisio's contact information

[2014-10-09 23:15] kdahlquist opened #17 "Changes to Publications page"
Remove current content.  Make a section header called Abstracts and paste in your Abstract for SACNAS, providing the name of the conference, the conference dates, and the authors as shown.

[2014-10-09 23:16] kdahlquist opened #18 "Changes to Documentation page"
Remove current content.  Put up a statement that says: "This page is under construction."

[2014-10-09 23:19] kdahlquist opened #19 "Create GRNmap logo"
Create a GRNmap logo for the web site.

[2014-10-09 23:20] kdahlquist opened #20 "Output least squares error and the penalty (needed for L-curve analysis) to output spreadsheet"
Need to output least squares error and other data needed for L-curve analysis to output spreadsheet to make the L-curve analysis go faster.

[2014-10-09 23:25] kdahlquist opened #21 "Changes to News page"
- Delete old news items.
- Create new news item for September 15, 2014:  The GRNmap project is established on GitHub.
- You can create a news item for the day you present at SACNAS that says "Juan Carrillo presents poster at the SACNAS conference entitled, "Software Refactoring and Usability Enhancement for GRNmap, a Gene Regulatory Network Modeling Application".

[2014-10-09 23:29] kdahlquist opened #22 "Changes to About page"
- For the introductory paragraph, put in your abstract from SACNAS.
- The availability section can be left the same, except change the word "GRNsight" to "GRNmap"
- Leave out the release notes for now until we can write something more detailed.
- The Funding section can mostly stay the same.  Replace the text with this:  "This work is partially supported by NSF award 0921038 (Kam D. Dahlquist and

[2014-10-09 23:30] kdahlquist opened #23 "Changes to Home page."
- Remove the GRNsight content.
- You can put your abstract for the SACNAS conference here as an introductory paragraph until we can write something more extensive.

[2014-10-12 02:16] #12 closed, assigned to juansc

[2014-10-14 16:34] #18 closed, assigned to juansc

[2014-10-14 17:08] #23 closed, assigned to juansc

[2014-10-14 17:14] #21 closed, assigned to juansc

[2014-10-14 17:16] #16 closed, assigned to juansc

[2014-10-14 17:18] #15 closed, assigned to juansc

[2014-10-14 17:20] kdahlquist opened #24 "Don't forget to change "Last modified" date each time a web page is changed."
Don't forget to change "Last modified" date each time a web page is changed.  All of the current GRNmap web pages say Last modified: 9/18/14, even though you have made changes after that.  Would you please go back and change them to whatever day you made the change?

For GRNsight, we looked into trying to make this update automatically programmatically, but there were too many issues with it.  So,

[2014-10-14 17:26] kdahlquist opened #25 "Remove GRNsight content from documents folder/upload SACNAS poster"
Please remove the GRNsight content from the documents folder and upload the final version of your SACNAS poster there.

[2014-10-14 17:28] kdahlquist opened #26 "Package a release of the executable containing the MATLAB Compiler Runtime library"
I see that the code has been committed to the repository, but you should also upload the executable.  Please name the executable file "GRNmap_v1.0"

[2014-10-15 19:38] #17 closed, assigned to juansc

[2014-10-15 19:41] #22 closed, assigned to juansc

[2014-10-15 19:45] kdahlquist opened #27 "Define criteria for a valid adjacency matrix (GRNsight Issue #151)"
I'm copying this issue over from GRNsight Number 151 because it affects both projects.

In order to have a solid error catching framework (for GRNsight), we need a clear set of criteria that define when a raw .xlsx file contains a valid adjacency matrix. Right now, the only "pre-flight" checks are for the existence of the "network" and/or "network_optimized_weights" sheets. In the final version, t

[2014-10-16 15:24] #25 closed, assigned to juansc

[2014-10-16 15:25] #24 closed, assigned to juansc

[2014-10-23 21:08] kdahlquist opened #28 "All input sheets must be copied over to the output spreadsheet"
All worksheets from the input file for the model need to be copied over to the output spreadsheet.  In other words, the output file should contain all of the same sheets that the input file did plus the additional sheets that are calculated.

[2014-10-24 19:31] kdahlquist opened #29 "Download page has extra last modified date on it."
Please remove the extra last modified date from the download page.  Keep the one that is directly below the links on the left.

[2014-10-24 20:10] kdahlquist opened #30 "Create activity diagram for GRNmap"
Create Use Case diagram and State Diagram for GRNmap

[2014-10-24 20:17] kdahlquist opened #31 "Conduct code review of current MATLAB code"
@bengfitzpatrick will conduct a review of the current MATLAB code.

[2014-10-24 20:20] #14 closed, assigned to juansc

[2014-11-06 20:48] #13 closed, assigned to kdahlquist

[2014-11-07 20:35] #29 closed, assigned to kdahlquist

[2014-11-13 21:55] kdahlquist opened #32 "Write each strain forward simulation data to the output spreadsheet"
log2_optimized_concentrations sheet is being overwritten by each strain data in turn so that it just shows what is there from the last strain.  There should actually be output sheets for each of the strains for which the forward simulation was performed.

[2014-11-13 21:57] kdahlquist opened #33 "Default open dialog to files of type xlsx instead of xls"
We should default the open dialog to files of type xlsx instead of xls for maximum compatibility with GRNsight.

[2014-11-14 22:07] kdahlquist opened #34 "Fix download link on Download web page"
When the repository got reorganized the download link to the executable got broken.

[2015-01-17 00:52] kdahlquist opened #35 "Slight edit to GRNsight web page footer"
Can we make a slight edit to the GRNmap web site footer that appears on every page? Instead of

This web site is free and open to all users and there is no login requirement.
Web site content is available under the Creative Commons Attribution Non-Commercial Share Alike. GRNsight code is available under the open source BSD license.

Can it say (with the appropriate links preserved)?

This web site

[2015-01-21 20:48] juansc commented on #35
Done.

[2015-01-22 17:04] kdahlquist commented on #35
There are two periods after the word "license".  Please delete one of them.  Thanks.

[2015-01-22 17:05] kdahlquist commented on #34
Confirmed.

[2015-01-22 17:05] #34 closed

[2015-01-22 18:07] juansc commented on #35
Done.

[2015-01-28 19:11] dondi commented on #30
What is currently labeled a state diagram is actually an *activity diagram* in current terminology (known as *flowchart* previously). We should rename the file accordingly. For reference, search for "uml activity diagram" on the web.

[2015-01-28 19:21] dondi commented on #30
Some specific items:
* Clarify that the diagram on the left is an overview
* Indicate individual function via bounding boxes/partitions, but still connect across to show how they interact
* Indicate the information that goes in and out of each self-contained function (specifically geared toward unit tests)
* For publicly visible variables, indicate their names; provide a short blurb of what they h

[2015-01-28 19:43] dondi opened #36 "Add Google Analytics to GRNmap website"
Insert Google Analytics JavaScript into every page on the GRNmap website. For more information, go to the Google Analytics website.

[2015-01-28 20:10] dondi opened #37 "Begin unit testing framework"
Start building a test suite for GRNmap. Start by learning MATLAB's framework for it (http://www.mathworks.com/help/matlab/matlab_prog/write-simple-test-case-with-functions.html). Once you are comfortable with running the samples, start by writing tests against the actual GRNmap code. Focus on pure mathematical computations first; we will eventually branch out to things like file validation etc.
*

[2015-01-29 23:20] juansc commented on #30
Will make the overview section horizontal and have the functions dangle down below their corresponding boxes.

[2015-01-30 00:26] juansc commented on #36
Done.

[2015-02-05 03:14] trixr4kdz commented on #37
Created sub-branch

[2015-02-05 03:49] juansc opened #38 "Issues with MATLAB 2014b"
Recently I ran the simulation on the new 2014b MATLAB. I found that the following code caused an error:
[code]

Apparently the new MATLAB handles graphics differently and now stores the figure handles in an object of type [GraphicsPlaceholder](http://www.mathworks.com/help/matlab/ref/matlab.graphics.graphicsplaceholder-class.html).

The place holder object is actually a 2 dimensional array, and we

[2015-02-06 00:10] kdahlquist commented on #36
OK.  There isn't a way for me to verify this, so I'll take your word for it.

[2015-02-06 00:10] #36 closed

[2015-02-06 00:12] kdahlquist commented on #35
Verified and am closing.

[2015-02-06 00:12] #35 closed

[2015-02-06 00:14] kdahlquist commented on #27
GRNsight needs to have a symmetric matrix with the same genes along the side and top, with the exact same spelling and capitalization and the same order.

[2015-02-06 00:14] #27 closed

[2015-02-06 00:15] kdahlquist commented on #9
The Matlab code does already compute the standard deviations.  The "concentration_sigmas" sheet for the input file is not used.  The computed sigmas should be output to the output file.

[2015-02-08 01:07] juansc commented on #38
GRNmap no longer produces a runtime error.

[2015-02-08 01:07] #38 closed

[2015-02-12 09:22] juansc commented on #28
As of now the beta code copies over the entire input workbook and then appends the other sheets that are found in the output sheet.

[2015-02-15 02:38] juansc commented on #2
The algorithm is running fine. The code has already been committed.

[2015-02-15 02:38] #2 closed

[2015-02-15 02:59] juansc opened #39 "Removing log_2_expressions sheet"
When I looked at the [wiki](https://github.com/kdahlquist/GRNmap/wiki/How-to-interpret-the-output-file-for-GRNmap) I noticed that the log_2_expressions sheet was supposed to correspond to the log2expressions in the input sheet. The current implementation of the code creates the output sheet by making a copy of the input sheet and appending new sheets with data generated by the program. Does this m

[2015-02-15 04:06] juansc commented on #26
This issue was resolved in November.

[2015-02-15 04:06] #26 closed

[2015-02-15 04:15] juansc opened #40 "Testing new beta code"
The new beta code outputs optimized log2expression sheets for each strain. We need to test this code to make sure that the output stayed the same. The only change that was made to the code is that the data is outputted differently.

[2015-02-15 18:42] bengfitzpatrick opened #41 "GRNmap fatal error"
I'm trying to move my VV&A files to the current GRNmap source for testing and evaluation, with the new MATLAB r2014b release, and I'm having a problem.  Running the GRNmodel code producing the following error. I tried three distinct input files.  I tried two versions of the code (one from last summer, one from https://github.com/kdahlquist/GRNmap/tree/master/matlab).  Juan, what is up with this?

[2015-02-16 00:40] juansc commented on #41
I talked about this bug in [issue 39](https://github.com/kdahlquist/GRNmap/issues/38). The beta code no longer has this issue. However, this bug is so significant that I think that it might be worth while doing a hot fix in the master branch and make it GRNmap v1.01 or something.

[2015-02-16 00:48] juansc commented on #33
I think we should allow the dialog box to display both .xls and .xlsx files. I say this because GRNmap works with both file formats. Additionally, if you wish to use an .xls file to run GRNmap you must click "All Files" in the dialog box, which shows not only the .xls file but all the .m files.

[2015-02-16 17:22] kdahlquist commented on #41
I agree that we should patch the master code.  To conform to our numbering system, we would call this version 1.0.2 (even numbers being release versions, and the x.x.2 meaning it is a patch).  You will need to go through the process of tagging the release, making the executable and the release.  There will need to be an announcement on the News page and release notes added to the About page.  You

[2015-02-16 17:30] kdahlquist commented on #39
I just wanted to let you know that I'm pretty swamped for the next couple of days and I won't be able to review/respond to your comments until our mini "Spring Break".  After our meetings a couple of weeks ago to discuss the input and output sheets, I had been intending to write up as issues the final version of what we want.  So, could you hold off on making any further changes to the input/outpu

[2015-02-16 17:31] kdahlquist commented on #20
Output least squares error and penalty term to an output sheet called "diagnostics".

[2015-02-16 19:31] kdahlquist opened #42 "Create and organize test files folder"
@trixr4kdz, create a "test_files" folder on the test_suite branch to hold the files that @bengfitzpatrick sent you for testing.  Look at the GRNsight test-files folder here: https://github.com/dondi/GRNsight/tree/master/test-files to see how the different types of test files are organized into folders based on what they are.  We will want something similar (but not necessarily exact) for our testi

[2015-02-16 19:44] bengfitzpatrick opened #43 "xlsx input/output format problem"
when using an xlsx input file, I get the following error:

Error using copyfile
No matching files were found.

Error in output (line 20)
copyfile([input_file '.xls'], output_file);

Error in GRNmodel (line 19)
GRNstruct = output(GRNstruct);

When using an xls file, this error does not occur.

[2015-02-16 19:45] bengfitzpatrick opened #44 "file navigation issue: location of input spreadsheet can be in any folder"
input sheet has to be in the folder containing the source code.  When i navigate to a different folder, I get the following error message:

Error using validpath>getFullName (line 66)
File
'Y:\zdrive\LMU\Projects\GeneExpression\GRNmap\currentBeta\GRNmapBeta\matlab\Input_4_gene_inverse.xlsx'
not found.

Error in validpath (line 23)
        filenameOut = getFullName(filename);

Error in xlsfinfo (li

[2015-02-16 19:47] bengfitzpatrick opened #45 "not all graphs being saved"
The current beta version does not save the last gene's graph. The figure appears: the jpg does not?

[2015-02-17 02:19] juansc commented on #44
The current implementation requires the Excel sheet to be in the same directory as GRNmap.exe or GRNmodel.m

[2015-02-17 22:01] kdahlquist commented on #33
The reason why we want to default to .xlsx is that GRNsight can only accept .xlsx files.  We want to default to the one that is compatible with GRNsight, even though .xls is still compatible with GRNmap.  The workflow is that once you run the model with GRNmap, you will want to visualize it with GRNsight.

[2015-02-17 22:25] dondi opened #46 "GRNmap website is reporting analytics under GRNsight's ID"
GRNmap's web statistics are currently appearing under GRNsight's Google Analytics account, probably because the analytics JavaScript is using GRNsight's identifier, and not GRNmap's. Please fix the JavaScript to use the proper identifier for GRNmap. Do a web-search to find documentation on how to determine the right fragment for your account.

[2015-02-18 04:41] trixr4kdz commented on #46
Fixed. ID was correct, but I moved the whole script to before </head> tag.

[2015-02-18 04:41] #46 closed

[2015-02-26 22:25] kdahlquist opened #47 "Add Grace and Trixie to People page"
We need to add Grace and Trixie to the People page on the web site.  Under Current Students, it should read:

Juan Carrillo (LMU Computer Science, Applied Mathematics '16) Spring 2014 - Present
Katherine (Grace) Johnson (LMU Biochemistry '17) Spring 2015 - Present
Trixie Roque (LMU Computer Science '17) Spring 2015 - Present
Natalie Williams (LMU Biology '17) Fall 2014 - Present

[2015-02-26 22:29] kdahlquist opened #48 "News Item about version 1.0.2 and 1.0.4 available for download"
We will need to be in the habit of creating news items when we make releases.  See how this is done at GRNsight here: http://dondi.github.io/GRNsight/news.html

In our case we need to say "GRNmap v1.0 Is Released and Available for Download"
* Date the item to the actual release date
* Create a release notes section on the About page like GRNsight has for us to announce the release notes

[2015-02-26 22:31] kdahlquist opened #49 "News item about SoCal SysBio conference"
We need to add the news item about my presentation at the SoCal SysBio conference, modeled after what is on the GRNsight page (leaving out the part about @NAnguiano since that was about GRNsight).  We can add the abstract and slide links to the Publications page.

[2015-02-26 22:41] trixr4kdz commented on #47
Done

[2015-02-26 22:41] #47 closed

[2015-02-27 21:13] kdahlquist commented on #7
Shalem et al. 2008 Transient transcriptional responses to stress are
generated by opposing effects of mRNA production
and degradation Molecular Systems Biology 4; Article number 223; doi:10.1038/msb.2008.59

[2015-03-04 07:24] trixr4kdz commented on #42
Created "test_files" folder

[2015-03-04 07:24] #42 closed

[2015-03-04 07:40] trixr4kdz opened #50 "readInputSheet error"
When it's run with "Test01SteadyState", we get the following error:
[code]

[2015-03-06 00:09] juansc opened #51 "Preallocate GRNstruct Arrays to Zeros Arrays"
This will increase speed and possibly addresses issue #50.

We will include a clear all at the very beginning, but we may need to revisit this issue if we wish to run the model several times.

[2015-03-06 00:12] juansc opened #52 "Code should figure out strain expression data sheets and deleted gene based on name, not order"
The code should also be able to figure out the deleted strain based on just the  name. Ideally, we only provide the names of the strains but we don't specify the number of the sheet or which gene was deleted in the strain.

[2015-03-11 18:38] juansc opened #53 "Add some description to most recent tag"

[2015-03-11 18:54] juansc commented on #43
We want to make sure that an .xlsx file gets outputted regardless of what format the input sheet is.

[2015-03-11 19:16] dondi commented on #37
Immediate goals to be done by March 18:
* Commit test files to `test_suite` branch (even if just tutorial or samples)
* Set up/determine a convenient way to run the full test suite
* Try to write a real-world test for the forward simulator, consisting of:
    1. Opening a particular file
    2. Running the forward simulator
    3. Examining the resulting output file

[2015-03-12 22:21] juansc commented on #50
If we have a `clear all` at the beginning this is fixed.

[2015-03-12 22:21] kdahlquist commented on #41
this was fixed when we merged beta and master

[2015-03-12 22:21] #41 closed

[2015-03-12 22:24] kdahlquist commented on #28
@bengfitzpatrick saw that there may be duplicated sheets in the output sheet, so we need to look at this further and make sure that this isn't happening.  We want all sheets from the input spreadsheet to be in the output, but not to duplicate them.

[2015-03-12 22:29] kdahlquist commented on #43
If the user inputs .xls, they should get as output .xls.
If they input .xlsx, they shoud get as ouput .xlsx

The bug was that .xlsx files were not working.  So, we need the program to do the above.

[2015-03-12 22:32] kdahlquist commented on #44
The behavior that we want is that the input spreadsheet can be in any folder and that the output sheet should go to the same folder as the input spreadsheet.

[2015-03-12 22:34] kdahlquist commented on #50
this was caused by non initialization of matrices; there's a separate issue for this. #51

[2015-03-12 22:34] #50 closed

[2015-03-12 22:35] kdahlquist commented on #51
Behavior that we want is:

We want to have matrices initialized to zero and of the correct size.

If you make two runs, you should be able to do that without clearing all the space.  You might want to save data from one run to compare it to data from the second run.

[2015-03-12 22:37] kdahlquist commented on #43
This is the highest priority for the next two week period from March 12-March 27.

[2015-03-12 22:42] kdahlquist commented on #28
Output spreadsheet should include sheets:
* all the input workbook sheets
* all the strain optimized expression
* a sheet for each parameter that is being estimated (w, P, b)  If it's not being estimated, do not make another copy since it was already copied over from input file.
* this should work whether the optimization or the forward simulation only was run

[2015-03-12 22:50] kdahlquist commented on #31
these have been described in separate issues, so closing

[2015-03-12 22:50] #31 closed

[2015-03-12 22:52] kdahlquist commented on #11
closing this because it is being taken care of as part of issue #32

[2015-03-12 22:52] #11 closed

[2015-03-17 06:07] trixr4kdz commented on #48
Updated News page and created Release Notes section. Still need to fix About page.

[2015-03-17 06:23] trixr4kdz commented on #37
Added test files to test_suite branch

[2015-03-17 22:19] trixr4kdz commented on #49
Updated News page and added SoCal SysBio Conference presentation slides and abstract to Publications page

[2015-03-17 22:19] #49 closed

[2015-03-18 06:33] juansc commented on #43
This is fixed please review.

[2015-03-18 21:10] trixr4kdz commented on #37
(entered by @dondi typed this)

During our 3/18 meeting, we were able to write a real-world test. It has a single assert so far and only tests one file, but it is a genuine start.

Tasks under this issue from this point:
* Start fleshing out more tests (i.e., verify that the entire file was read correctly; read additional files; start testing for proper handling of errors in files, etc.)
* Set up/

[2015-03-20 03:48] kdahlquist opened #54 "pick up and set up posters friday 3/20"
The posters have all been printed.  If someone is free Friday morning, can he or she pick them up all from me and put them up in UH?

If not we can do it later.

[2015-03-20 04:00] anuvarsh commented on #54
I can pick them up at 11am if no one is available before then.

[2015-03-20 04:06] juansc commented on #54
I can pick up Trixie's and I's poster at 9am

[2015-03-20 06:03] Nwilli31 commented on #54
Grace and I can pick ours up at 9 tomorrow.

Thanks,
Natalie
On Mar 19, 2015 8:48 PM, "Kam Dahlquist" <notifications@github.com> wrote:

[2015-03-20 16:08] kdahlquist commented on #54
@anuvarsh, please come pick up your poster at 11:00.  The others
already picked up theirs.

[2015-03-24 21:02] #54 closed

[2015-03-25 18:04] kdahlquist opened #55 "Add photo to People page"
Add the symposium photo and caption to the GRNmap People page.  See how it was done on GRNsight (look at the code because it was not straightforward).

http://dondi.github.io/GRNsight/people.html

[2015-03-25 18:08] kdahlquist opened #56 "Upload symposium posters to GitHub"
I sent an e-mail to @juansc and @trixr4kdz with the final printed versions of the symposium posters for upload to the GitHub repository.

Please remove (delete) the older version of the poster and replace with these ones.  Please observe the naming conventions for these files for now and any future posters.

[2015-03-25 18:10] kdahlquist opened #57 "About page collapsible sections not working properly in FireFox"
The collapsible section for Release notes is not working properly in Firefox on the About page.

[2015-03-25 18:11] juansc commented on #28
Done. Please review.

[2015-03-25 18:15] kdahlquist opened #58 "News item about the LMU Symposium needed."
We need to post a news item about the LMU symposium.  See GRNsight...

[2015-03-25 18:19] dondi commented on #57
This issue was tracked down to a stale bootstrap.min.css. The version from GRNsight should be copied over.

[2015-03-25 18:38] kdahlquist commented on #32
verified that this works with the beta code as of 2015-03-25 with the following input sheet "Input_21_Gene_Network_Sigmoid_Model_Estimate_WTCIN5.xlsx" that I copied from Natalie from 2014-11-13.  Will need to do further exhaustive testing with all possible choices of how to run (MM-Sigmoidal, fixP, fixB, etc.), but we can close this for now.

[2015-03-25 18:38] #32 closed

[2015-03-25 18:39] kdahlquist commented on #28
verified that this works with the beta code as of 2015-03-25 with the following input sheet "Input_21_Gene_Network_Sigmoid_Model_Estimate_WTCIN5.xlsx" that I copied from Natalie from 2014-11-13. Will need to do further exhaustive testing with all possible choices of how to run (MM-Sigmoidal, fixP, fixB, etc.), but we can close this for now.

[2015-03-25 18:39] #28 closed

[2015-03-25 18:45] kdahlquist commented on #33
Verfied that this is happening and closing.

[2015-03-25 18:45] #33 closed

[2015-03-25 18:46] kdahlquist commented on #45
Moved this up to a priority zero since the the other priority zeroes are finished for this week.

[2015-03-25 18:47] kdahlquist commented on #43
verified that this works with the beta code as of 2015-03-25 with the following input sheet "Input_21_Gene_Network_Sigmoid_Model_Estimate_WTCIN5.xlsx" that I copied from Natalie from 2014-11-13. The .xlsx file worked and outputted an .xlsx file.

I then saved this same input sheet as an .xls in Excel, called "Input_21_Gene_Network_Sigmoid_Model_Estimate_WTCIN5_totestxlsversion.xls" and ran it agai

[2015-03-25 18:47] #43 closed

[2015-03-25 18:48] dondi commented on #37
@trixr4kdz discovered the `addpath` function; for replicability it needs to use relative paths. Here is a reference, and also based on the file structure the path needed looks like it should be `../../../matlab`:

http://www.mathworks.com/matlabcentral/answers/4701-how-to-manage-relative-addpath-uses-in-subfunctions-when-using-svn-for-example

[2015-03-25 18:51] dondi commented on #37
Next task is to finalize the file structure using `addpath` and `calltests`, after which tests can now just be churned out.

[2015-03-25 18:53] kdahlquist opened #59 "make a v1.0.4 release with current bug fixes"
We merged the code today and we need make a release v1.0.4 with the bug fixes that were reviewed and accepted.

[2015-03-25 18:56] dondi commented on #37
After structure is finalized, work can be merged into `beta` and eventually into `master`.

[2015-03-25 20:33] trixr4kdz commented on #57
Fixed About page collapsible section

[2015-03-25 20:33] #57 closed

[2015-03-25 20:39] trixr4kdz commented on #58
Done

[2015-03-25 20:39] #58 closed

[2015-03-25 23:49] trixr4kdz commented on #55
Added group photo

[2015-03-25 23:49] #55 closed

[2015-03-26 22:26] kdahlquist commented on #7
@Nwilli31 and @GraceJohnson will compile what they have so far on their OpenWetWare wiki, including:
* full bibliographic citation to paper
* hyperlink to full text on publisher web site
* links to supplementary data files

We will begin to look at the data to see what we can use.

[2015-03-26 22:27] juansc commented on #56
Done.

[2015-03-26 22:28] juansc commented on #56
Please review.

[2015-03-26 23:03] kdahlquist commented on #51
Tasks:
* look through all the code and find all of the arrays that are used
* back up from there and pre-allocate them
* number of strains and then these things for each strain: number of timepoints and number of flasks (replicates)
* number of sim times
* number of genes
each xlsread should be of the format

[numDummyVar,characterDummyVar] = xlsread(File,Sheet)

all arrays can be sized and initia

[2015-04-09 06:49] juansc commented on #45
Please review.

[2015-04-09 06:55] trixr4kdz commented on #37
Added more test cases. Fixed file paths so that we can keep test cases in test_files folder instead of matlab folder. Also, removed warning messages from test cases. Still need to make more test cases

[2015-04-09 22:38] kdahlquist opened #60 "Input test files need to be updated to work with current code"
There are four test files:

* Input_4_gene_testing.xlsx (forward run)
* Input_4_gene_inverse.xls (estimation)
* test01SteadyState.xls (estimation)
* test02SteadyState.xls (estimation)

These need to be made consistent so the "beta" and "test_suite" branch code can read those input sheets.

[2015-04-13 00:59] juansc commented on #44
This issue is fixed in the beta branch code.

[2015-04-15 05:44] juansc commented on #59
A draft of this release has been created.

[2015-04-15 05:44] juansc commented on #53
Done please review.

[2015-04-15 18:31] dondi opened #61 "Implement test file structure and naming convention as documented in wiki"
GRNmap has converged on a file structure and naming convention for test and demo files. It is [documented here](https://github.com/kdahlquist/GRNmap/wiki/Naming-Convention-and-Test-Files-Organization). This issue represents the initial task of making the current set of files fit these conventions.

[2015-04-15 18:44] #59 closed

[2015-04-15 18:45] kdahlquist commented on #45
This has been tested with the file "Input_21_Gene_Network_Sigmoid_Model.xls" and the beta code as of 2015-04-15 and was found to work.

[2015-04-15 18:45] #45 closed

[2015-04-15 18:46] juansc commented on #53
This issue referred to release v1.0.2

[2015-04-15 18:46] #53 closed

[2015-04-15 18:47] kdahlquist commented on #56
Verified and closing.

[2015-04-15 18:47] #56 closed

[2015-04-15 18:48] kdahlquist commented on #44
This has been tested with the file "Input_21_Gene_Network_Sigmoid_Model.xls" and the beta code as of 2015-04-15 and was found to work.

[2015-04-15 18:48] #44 closed

[2015-04-15 19:10] kdahlquist opened #62 "@juansc walk @trixr4kdz through entire codebase"
Because @juansc will not be around in the summer, he and @trixr4kdz need to get together for @juansc to walk her through the entire codebase sometime during the next two weeks.

[2015-04-16 22:16] juansc commented on #62
In addition to walking through the code, I will walk @trixr4kdz through the process of creating a release as well as walking her through the process of how to packaging a release.

[2015-04-16 22:26] juansc opened #63 "Remove 'estimation' from output excel sheets name"
To clarify this is being done programmatically so this is a quick fix in the output.m code.

[2015-04-23 06:06] juansc commented on #63
Done please review.

[2015-04-23 06:09] juansc opened #64 "num_genes vs num_active_genes question"
num_genes vs num_active_genes

[2015-04-23 13:48] bengfitzpatrick commented on #64
should be the same.  replace the second with the first.

[2015-04-23 22:12] kdahlquist commented on #64
Will close when Juan has fixed this.  This is something that was needed in an older version of the model that is no longer needed.

[2015-04-23 22:15] kdahlquist commented on #62
This is in progress.  As they go through it, they are figuring out what can be preallocated to zeros and also changing the variable names to be more informative.

[2015-04-23 22:15] kdahlquist commented on #51
Being worked on as part of #62

[2015-04-26 00:33] trixr4kdz commented on #61
For spreadsheets that have the same number of genes, edges, etc., we will have an optional # to append at the end to differentiate.

[2015-04-29 06:17] trixr4kdz opened #65 "Possible redundant vars in lse.m"
[code]

[2015-04-29 18:36] kdahlquist opened #66 "Text for About page for releases"
v1.0
This is the first release of the GRNmap code and executable.

v1.0.2
GRNmap v1.0.2 includes the following new features and bug fixes:
* Some known bugs in v1.0 have been fixed.
* The code has been updated to be compatible with MATLAB 2014b. Version 1.0 would fail when generating graphs because of the way that MATLAB treated figure handles had changed.
* GRNmap now outputs an individual worksh

[2015-04-29 18:53] kdahlquist commented on #66
GRNmap v1.0.6 includes the following new features and bug fixes:
* The input Microsoft Excel workbook is now not required to be in the same directory as the GRNmodel code and can now be located in any folder.
* A bug was fixed where the last graph generated was not being automatically saved; now all graphs are saved in the same folder as the input workbook.
* The input test files were updated to c

[2015-04-30 18:41] bengfitzpatrick commented on #65
Yes, Trixie, the top two should go away.  Not only are they redundant, but they are also incomplete. Note that the GRNstruct.GRNModel( : ).model structure has a model array for each simulated strain.  The array "model" is number of times by number of genes, and the qq index in your query delineates the strains.  The GRNstruct.GRNOutput.model field contains only one model array, and we don't know w

[2015-05-02 00:33] juansc opened #67 "Removing residual kk_max"
kk_max is a residual variable that shouldn't be there anymore. We need to change the following code and change it so that it's not a for loop (just remove the for line and its corresponding end.)

[code]

Additionally, kk_max has to be removed from all input sheets.

[2015-05-02 00:38] bengfitzpatrick commented on #67
Where did this issue come from? Unless someone convinces me otherwise, kk_max should remain.  There may be cases as we grow the code and data where restarting the optimization is necessary.

[2015-05-02 02:00] trixr4kdz opened #68 "Thresholds and Production Rates being outputted"
Make sure that the estimated production rates and thresholds are being outputted correctly. That is, if fix_b = 0, output thresholds, and if fix_P = 0, output production rates.

[2015-05-02 02:03] trixr4kdz opened #69 "Super Struct"
This is implemented in the super-struct branch. Currently a super struct stores a copy of the GRNstruct for the original run. However, we realize that during a run we output a .mat and excel file for the input file for that run. Would a super-struct be redundant?

[2015-05-02 02:04] trixr4kdz opened #70 "why michaelis_menten.m but no sigmoid.m"

[2015-05-04 16:30] bengfitzpatrick commented on #70
That was a programming choice somewhere in the past.  The general_network_dynamics_sigmoid.m function includes all the computation necessary to produce the differential equation. Nick and Katrina must have chosen to farm out part of the computation of general_network_dynamics_mm.m to an intermediary function michaelis_menten.m to make the calling code look cleaner.  In retrospect I'm not sure it w

[2015-05-04 16:32] bengfitzpatrick commented on #69
Not sure what to say without more detail. What do you mean by "original run" -- is the code being run multiple times?

[2015-05-04 16:57] juansc commented on #69
To clarify. When we run GRNmodel for the first time, we create a variable called GRNSuperStruct. After calling readInputSheet, lse, and output, the resulting GRNstruct is appended to the GRNSuperStruct. If we run GRNmodel again without using `clear` or `clear all` the GRNSuperStruct persists, and so the second time around after calling readInputSheet, lse, and output, the new GRNstruct is also app

[2015-05-04 16:59] juansc commented on #67
We saw that kk_max is always 1 for all the input sheets that were created and so it seemed that maybe that loop was something left over from previous development. If you think we should keep it then we can leave kk_max in the code.

[2015-05-04 17:12] bengfitzpatrick commented on #67
Please do.

[2015-05-04 17:25] #67 closed

[2015-05-04 17:30] bengfitzpatrick commented on #69
I would like to postpone work on this issue till we can get together, which probably means the week of 25 May. Juan, I realize you'll not be around for it, so let's make sure Trixie is comfortable with matters.

[2015-05-20 20:58] kdahlquist opened #71 "Put in News items related to starting Google Analytics"
Let's put in a retroactive News item that says:

We added Google Analytics tracking to count web page views.

[2015-05-20 21:02] kdahlquist opened #72 "Rig it so that we record downloads of the executable from the GRNmap downloads page"
Learn the Google Analytics API so that you can manually report a "page hit" outside of the standard JavaScript fragment that they supply.

Then, establish a URL, e.g., /grnmap/download, that represents the count of downloads from the github.io.

Finally, the download link on that website can be hooked up to JavaScript that manually reports a "hit" on that URL whenever a download is triggered.

Sam

[2015-05-20 22:20] trixr4kdz opened #73 "Compute within-strain ANOVA p-values and write to output workbook"
* Create a module in GRNmap to calculate 2-strain ANOVA p-value

[2015-05-20 22:21] trixr4kdz commented on #71
Finished

[2015-05-20 22:23] trixr4kdz commented on #66
Finished during last meeting of Spring semester

[2015-05-20 22:43] trixr4kdz opened #74 "Try all 16 possible combinations of input sheets"
Combined with the 3 test cases from @bengfitzpatrick, make dummy cases of excel sheets with different combinations (e.g fix b, est p, graph, or fix b, fix p, no graph, etc.)

[2015-05-25 18:15] kdahlquist commented on #9
Changed name to refer only to the standard deviations portion of this issue because @trixr4kdz opened another issue for p values. #73

[2015-05-25 18:18] kdahlquist commented on #73
I modified the name of this issue.  We want to be as specific as possible when naming an issue and try to keep it so that one issue = one task.

What I was talking about in the meeting was actually the within-strain ANOVA.  I guess it could be possible to also do the between-strain ANOVA, but I think we would need to discuss that more.

The reason why I was suggesting to do this was to facilitate

[2015-05-25 18:22] kdahlquist commented on #62
As we have started SURP already, I assume that this has been accomplished and am closing.

[2015-05-25 18:22] #62 closed

[2015-05-25 18:32] kdahlquist commented on #52
I changed the name of this issue to be more specific.

I think I want to clarify the statement of the problem.  There are two parts to this:

1.  We want the code to figure out which expression data belongs to which strain, based on the name of the strain, not the order of the worksheet in the workbook.  Currently, in the optimization_parameters worksheet, the user specifies the order of the works

[2015-05-25 19:13] kdahlquist commented on #71
Can we make this mirror how it looks on the GRNsight News page (see September 18, 2014):

Page View Counter Implemented (headline)

We added Google Analytics tracking to count web page views. (body text)

[2015-05-25 19:35] kdahlquist commented on #48
We need retroactive news items for releases v1.0.2 and  v1.0.4.  Get the dates off of the releases page and put the News items in the list accordingly.

[2015-05-25 19:36] kdahlquist commented on #19
Just an update on this one.  I've asked Lauren Ellis to come up with a design for this.  I've got an e-mail in to her to schedule a meeting to review the designs.

[2015-05-25 19:42] kdahlquist commented on #74
To provide a little more detail on this, the options include:
* Sigmoidal vs. Michaelis-Menten
* forward only vs. estimation + forward
* FixP vs. estimated P
* Fixb vs. estimated b (Sigmoidal only)
* makeGraphs vs. don't makeGraphs

We want to document what we want to happen for each of the combinations and what actually happens, in case we uncover any bugs.  I.e., did the correct form of the mode

[2015-05-25 19:45] kdahlquist commented on #40
This seems to be redundant to #32, which is closed.  I am going to close this one, too.  There is a little mystery because this same thing basically appears in the release notes to version 1.0.2 and 1.0.6.  However, I think we shouldn't worry about it too much and just move on from here.

[2015-05-25 19:45] #40 closed

[2015-05-25 19:49] kdahlquist commented on #66
I have some edits that I would like you to make to clean up the grammar and phrasing:  For simplicity, I've copied the release notes again here so you can just copy and paste the entire block of text instead of trying to make the changes piecemeal. (There is a mystery as to why the outputting of the optimized log2 expression values show up in notes for v1.0.2 and v1.0.6, but I'm going to not worry

[2015-05-25 19:56] kdahlquist commented on #66
I made a tiny correction to the level of bullets in v1.0.4 above that I messed up when I copied it over.

[2015-05-25 19:57] kdahlquist commented on #66
I have also gone back and changed the release notes on the releases page to reflect the changes I made above.

[2015-05-25 20:15] kdahlquist opened #75 "Update v1.0 to v1.0.6 on GRNmap home page"
Our current version is v1.0.6, but it still says v1.0 on the GRNmap home page.  We should either update this or remove the version number entirely from the home page.

[2015-05-25 20:24] kdahlquist opened #76 "Add system requirements section to About page, Documentation page, and readme on main GitHub site"
We need to describe the system requirements for running GRNmap from code and for running the executable.

This information needs to appear in three places:
* A distinct section called *Compatibility*, on the About page (below "Availability)
* At the top of the Documentation page
* In the readme blurb on the main GRNmap developer page

We probably need to subdivide this into "Running GRNmap from Co

[2015-05-25 20:26] kdahlquist opened #77 "Make collapsible sections on News page, by year"
See how this was done on the GRNsight News page http://dondi.github.io/GRNsight/news.html.

[2015-05-25 20:27] kdahlquist opened #78 "Update news items for LMU symposium and SoCal Systems Biology conference"
Update the news items for the LMU symposium and SoCal Systems Biology conference so that they read identically to what is shown on the GRNsight news page.  http://dondi.github.io/GRNsight/news.html

[2015-05-25 20:32] kdahlquist opened #79 "Organize and provide additional download links on Downloads page"
Right now the Download page is still linked to the v1.0 executable.

Upon thinking about it, we should organize this page so that there are download links to all releases of GRNmap.  There should be two main sections, one for the source code and one for the executable.  Each of them should include the system requirements information from issue #76.  Then each of those sections should have subsecti

[2015-05-25 20:35] kdahlquist opened #80 "Publications page needs to be updated with LMU Symposium abstracts/posters"
Update the publications page with the LMU Symposium abstracts and posters.  See http://dondi.github.io/GRNsight/publications.html for a model.

Rename our header called "Abstracts" to "Posters".

I think we can link to Juan's SACNAS poster in the code repository, as well.

[2015-05-25 20:38] kdahlquist opened #81 "Add Tessa Morris to People page"
We need to add Tessa  to the People page.

Under Research Assistants > Current Students, put her in alphabetical order as follows:
*Tessa Morris (LMU Biomathematics '16) Summer 2015 - Present

[2015-05-25 20:44] kdahlquist opened #82 "Update funding information on About page"
We need to update the funding information on the About page.  Replace what is there with this (preserving hyperlinks):

This work is partially supported by NSF award 0921038 (Kam D. Dahlquist and Ben G. Fitzpatrick), the Loyola Marymount University Summer Undergraduate Research Program 2014 (Juan Carrillo) and 2015 (Trixie Roque), the LMU Honors Summer Research Fellowship 2015 (K. Grace Johnson an

[2015-05-25 20:47] kdahlquist opened #83 "Put "Under construction" flag on Documentation page"
I see that some of the documentation for the input file has been moved over from the wiki to the Documentation page.  Some of this information is out of date and some of it will possibly be changed for the summer work.

Can you comment this out in the code for now until we've settled on the changes we are going to make?

Please put the note "This page is under construction.  For current documentat

[2015-05-25 20:57] kdahlquist commented on #61
Given Issue #74 where we will systematically test all 16 possibilities for running the code, we may need to think further about our organization and naming convention here.

Right now at the top level we have split off the forward and estimation tests into separate folders, which makes sense.

I am wondering if underneath both of these we should make sub-folders for MM and Sigmoid to further organ

[2015-05-25 21:07] kdahlquist opened #84 "Test GRNmap executable"
In addition to testing the GRNmap code (as in #74), we also need to put the executable through its paces.  Ideally, we would try this on a "virgin" computer that hasn't seen the installation and also on one that does not have MATLAB installed on it to see how it works.  @kdahlquist will look into getting a department laptop for us to use for testing for the summer.

[2015-05-25 21:09] kdahlquist commented on #4
As part of our initial round of tests, we need to make absolutely sure that the wiki is up-to-date with the current implementation of the code.

[2015-05-25 21:14] kdahlquist commented on #39
I'm closing this because I think it is supplanted by other issues.  I think the code is correctly preserving the input expression data and outputs the optimized expression data, so we don't need this.

[2015-05-25 21:14] #39 closed

[2015-05-25 21:16] kdahlquist commented on #8
Right now we are naming the microarray data sheets with the <strain designation>, e.g. "wt" or "dcin5".  Allowing the full data in the worksheet would mean less work for the user when creating input workbooks to run with the model.  A corollary of this, though would mean that they would also need full data for the "degradation_rate" sheet.

This is a lowest priority item.

[2015-05-25 21:37] kdahlquist commented on #63
I have verified it with the four small test files.  We will need to keep an eye on this as @trixr4kdz goes through all 16 permutations as part of issue #74.

[2015-05-25 21:37] #63 closed

[2015-05-25 21:41] kdahlquist opened #85 "output graphs should have filenames containing the names of the genes"
I thought that in a previous version of GRNmap, the figures that were outputted were named according to the gene name (ACE2, ABF1, etc.)  When I just ran the four test-files, the files were named "figure_1.jpg", etc.  Am I just remembering this wrong?  Would we be able to name the files according to the gene names?

[2015-05-25 21:44] kdahlquist opened #86 "LSE viewable in counter window"
I thought that in previous versions of GRNmap, the LSE value was shown in the counter window.  Am I remembering this wrong?

[2015-05-25 21:47] kdahlquist opened #87 ".mat file not being output in version 1.0.6"
I just ran all the input files in the test-files folder with v1.0.6 (master branch) of the code.  I thought that there should be a .mat file created along with the .xlsx (or .xls) file that had the same name, but with a .mat extension.

What I am seeing right now is a file with the same name, but without a file extension and in Windows Explorer it says the file type is "Microsoft Access Table Shor

[2015-05-25 21:48] kdahlquist commented on #60
I have confirmed that all of the input files in the test-files folder (and sub folders) work with the current version of the code.

[2015-05-25 21:48] #60 closed

[2015-05-25 21:59] kdahlquist commented on #30
The changes that @juansc described in his previous comment were made on the LMU symposium poster, but not on the main "GRNmap Activity Diagram.pdf" document in the Documents folder.

I am reassigning this to @trixr4kdz to complete tasks in bullet points 3 and 4 of @dondi 's Jan 28 comment.

[2015-05-25 22:04] kdahlquist commented on #37
Let's discuss this at our next meeting in the context of an actual workflow for testing related to #74 and #84.  I'm thinking that we might be able to get Tessa involved in working with @trixr4kdz in doing some testing tasks.

[2015-05-25 22:49] kdahlquist opened #88 "Finalize names and contents of each worksheet in input and output files"
Besides talking about the overall priorities and tasks for the summer, we need to discuss this at our next meeting.  This is related to issue #4, but I want to use this issue to describe what we actually want our input and output workbooks to look like.

Input workbook:
As near as I can tell, the input workbook needs the following sheets:
* production_rates
* degradation_rates
* one sheet per stra

[2015-05-25 23:17] kdahlquist opened #89 "Remove "concentration_sigmas" worksheet from data_samples files (not needed)"
Remove "concentration_sigmas" worksheet from data_samples files.  They are no longer needed.  Check the other sample files in the "test_files" folder and remove it from those, if necessary.

[2015-05-25 23:38] trixr4kdz commented on #81
Added Tessa Morris to Current Students

[2015-05-25 23:39] trixr4kdz commented on #71
Updated News page

[2015-05-25 23:43] trixr4kdz commented on #83
Replaced content in Documentation with "This page is under construction...see the GRNmap wiki."

[2015-05-25 23:56] trixr4kdz commented on #82
Updated Funding section

[2015-05-26 00:06] trixr4kdz commented on #48
Added news items for v1.0.2 (March 11, 2015) and v1.0.4 (March 24, 2015)

[2015-05-26 00:21] trixr4kdz commented on #78
Updated News page to reflect what is on GRNsight

[2015-05-26 15:32] kdahlquist opened #90 "Bug: fix_b is doing the opposite, =1 no estimate, =0 estimate in v1.0.6"
I downloaded the zipped code from the v1.0.6 release page.  I used it to run the file "21-genes_50-edges_Dahlquist-data_Sigmoid_estimation.xls" in the test-files > data-samples folder.

In the optimization_parameters worksheet:
* fix_P = 0
* fix_b = 1

Which should mean to estimate the production rates, but do not estimate the thresholds.

Yet, in the resulting output file, there were no new produ

[2015-05-26 15:38] kdahlquist opened #91 "MATLAB article on using Excel with MATLAB"
I don't know if this is useful, but here it is:
http://blogs.mathworks.com/pick/2010/04/16/from-excel-column-labels-to-numbers/?s_v1=6275&elq_cid=934546

[2015-05-26 18:27] kdahlquist commented on #83
confirmed and closing

[2015-05-26 18:29] kdahlquist commented on #82
Don't forget to change the "last modified" date on all web pages you alter.  It has to be done manually, unfortunately.

[2015-05-26 18:29] kdahlquist commented on #83
Don't forget to change the last modified date on the web pages, it must be done manually.

[2015-05-26 18:30] kdahlquist commented on #81
Don't forget to change the last modified date on the web pages, it must be done manually.

[2015-05-26 18:31] kdahlquist commented on #78
Don't forget to change the last modified date on the web pages, it must be done manually.

[2015-05-26 18:32] kdahlquist commented on #71
The sentence needs a period at the end.  Also, don't forget to change the last modified date on the web pages, it must be done manually.

[2015-05-26 18:34] kdahlquist commented on #48
Confirmed.  Closing this one because my note to change the last modified date was recorded on a different issue.

[2015-05-26 18:34] #48 closed

[2015-05-26 20:24] tessaam commented on #90
I verified the bug. It occurred with a different input file.

[2015-05-26 22:10] kdahlquist opened #92 "input file cannot be located on Desktop"
We've uncovered a bug where the input file cannot be located on the Desktop.  It can be in a folder that is on the Desktop, but not on the Desktop directly.  The error message reads:

Error using copyfile
Cannot write to destination:
C:\Users\kdahlqui\Desktop\13-genes_20-edges_McGee-data_Sigmoid_estimation_output.xlsx.
Use the 'f' option to override.

Error in output (line 20)
copyfile(GRNstruct.i

[2015-05-26 23:11] kdahlquist opened #93 "input file cannot be in folder with space characters in name"
We have discovered a bug where if the input file is located in a folder with space characters in the name, such as

Desktop\Microarray Data Analysis

it won't save the output file or graphs.

The error message is:
Error using inputcheck (line 40)
Multiple inputs that look like file names: 'C:\Users\kdahlqui\Desktop\Microarray' and 'Data'.

Error in print (line 156)
    [pj, devices, options ] = in

[2015-05-26 23:22] kdahlquist commented on #90
Actually, it might be the case that instead of being "switched" like I said above, it's the case that either the production rates are not being estimated at all or, if they are, they are not being written to the output workbook.

@tessaam and @trixr4kdz have produced all 16 test input and output files referred to in #74.  They are stored on the OpenWetWare wiki here: http://www.openwetware.org/wik

[2015-05-26 23:52] kdahlquist commented on #93
I have confirmed that it is the space characters at fault.  I removed them from the folder name "MicroarrayDataAnalysis" and the files saved just fine.

[2015-05-26 23:55] kdahlquist commented on #90
@Nwilli31 has confirmed that part of what is going on is that when fix_b =0, it is estimating b and when fix_b =1, it is not estimating b, so those are switched.

I'm going to separate out the production rates as a separate issue.

[2015-05-26 23:57] kdahlquist opened #94 "Production rates not being either estimated or output to workbook"
I have separated this out from Issue #90.  It appears that either the production rates are not being estimated or they are not being output to the workbook.

@tessaam and @trixr4kdz have produced all 16 test input and output files referred to in #74. They are stored on the OpenWetWare wiki here: http://www.openwetware.org/wiki/GRNmap_Test_Inputs

We could compare two runs where the only difference

[2015-05-27 06:26] trixr4kdz commented on #74
I was checking through the test inputs in http://www.openwetware.org/wiki/GRNmap_Test_Inputs and found that Input 12 and Input 14 have incorrect parameters. I put makeGraphs = 1 in Input 12, but it really should be = 0. Also, in Input 14 fix_P = 1 when it should be = 0.

[2015-05-27 06:42] trixr4kdz commented on #83
Changed date

[2015-05-27 06:48] trixr4kdz commented on #82
Changed date

[2015-05-27 06:49] trixr4kdz commented on #81
Changed date

[2015-05-27 07:21] trixr4kdz commented on #80
I've changed "Abstracts" to "Posters" and added the 2015 LMU Symposium abstract with a link that allows visitors to download the poster.

It would seem that @juansc removed his SACNAS poster from the master branch, but the pdf version is still in the test_suite branch. Right now, the poster is linked to the abstract in the Publications page.

[2015-05-27 16:29] trixr4kdz commented on #74
I fixed the incorrect inputs I reported above in http://www.openwetware.org/wiki/GRNmap_Test_Inputs and uploaded the output sheets

[2015-05-27 20:43] dondi commented on #74
For some side viewing, here is a video of “Uncle Bob” Martin, one of the prominent advocators of test-driven development, demonstrating the process live in Santa Monica last week:

https://www.youtube.com/watch?v=D9GQ9nBHhIc&feature=youtu.be&list=PL06ytJZ4Ak1quT7gKXcNKD3lj

[2015-05-27 22:03] kdahlquist opened #95 "test what happens when initial guesses for weights are not 1"
Take one of the input workbooks that has already been run and choose initial guesses for weights that are not 1. Look at:
* LSE
* number of iterations
* values of weights, b's, and Production rates of results
in comparison to a previous run that was exactly the same except for this change.

[2015-05-27 22:11] kdahlquist opened #96 "compute the "ideal" LSE to compare to the actual LSE output by GRNmap"
The minimum of the LSE would be attained when Log<sub>2</sub> xi (t, theta) - 1/# flasks average of datapoints  (not sure if this is transcribed right)

[2015-05-27 22:26] kdahlquist commented on #68
closing this as a duplicate of other reported issues.

[2015-05-27 22:26] #68 closed

[2015-05-27 22:34] kdahlquist commented on #87
This is an issue with the operating system thinking a .mat file is for Access instead of Matlab.

Could probably get Matlab to force it to have a file extension.

[2015-05-27 22:35] kdahlquist commented on #70
No action needs to be taken, so closing.

[2015-05-27 22:35] #70 closed

[2015-05-27 22:38] kdahlquist commented on #69
Did we figure out how to initialize all the arrays to zero?  We need to know the answer to this before we can proceed with this issue.

[2015-05-27 22:40] kdahlquist commented on #65
We're going to set this aside for now, in case changing it breaks something else.

[2015-05-27 22:41] kdahlquist commented on #64
@trixr4kdz is going to look in the code to see if this has been done.

[2015-05-27 22:55] kdahlquist commented on #64
@trixr4kdz has verified that this has been done in beta and in master, so closing.

[2015-05-27 22:55] #64 closed

[2015-05-27 22:58] kdahlquist commented on #85
Answer to question is no, but this is a feature that we might want in the future.

[2015-05-27 22:59] kdahlquist commented on #86
It actually used to be there, but now it's gone.  It would be nice to have it back.

[2015-05-27 23:00] kdahlquist commented on #52
Moving this up to a 0.5 priority because it is a natural follow-on to the changes we are making to the sheet names.

[2015-05-27 23:02] kdahlquist commented on #74
Almost done with analyzing data from these runs. @kdahlquist will sit down with @trixr4kdz  and @tessaam to review results.

[2015-05-27 23:14] kdahlquist commented on #61
We looked at what was on the wiki for http://www.openwetware.org/wiki/GRNmap_Test_Inputs Issue #74 and we are going to make a slight change to the way it is shown there.

Say fixP-1 or fixP-0, fixb-1 or fixb-0 for the conditions of fixing or estimating P or b.  It's shorter and doesn't re-use the word estimate.  Will use "graph" or "no-graph" for the graphing condition.

Once either @tessaam or @t

[2015-05-27 23:15] kdahlquist commented on #61
We will not do any further subdivision of folders in test-files at this time.

[2015-05-27 23:27] kdahlquist opened #97 "Test .xls vs. .xlsx for the same exact input file"
We need to test whether using the exact same input file as a .xls vs. an .xlsx gives the same output.
Use Save As in Excel to change the filetype and run the same input file twice and compare results.

[2015-05-27 23:31] kdahlquist commented on #79
Let's fix the current download button to correctly download executable v1.0.6 as priority 0, but the rest organization can stay 0.5.

[2015-05-28 00:00] trixr4kdz commented on #79
Fixed the download button to say v1.0.6 and linked it to the zip file on GitHub

[2015-05-28 16:42] tessaam commented on #61
The file names are corrected on the wiki.

http://openwetware.org/wiki/GRNmap_Test_Inputs#Observations_from_test

[2015-05-28 16:42] #61 closed

[2015-05-28 16:51] GraceJohnson opened #98 "Compare results between MATLAB version 2014a and 2014b using same input file for wt alone"
Code used for 2014a was Fitzpatrick's current version as of September 2014. Code used for 2014b was from BIO398 class Spring 2015.

Our notes: http://openwetware.org/wiki/GRNmap_Testing_Report:_Strain_Run_Comparisons_2015-05-27

We took the difference of the estimated weights and estimated b's and the differences were all in the third decimal place or smaller. We decided the differences were negli

[2015-05-28 16:51] #98 closed

[2015-05-28 17:02] Nwilli31 commented on #10
We have decided to do estimations of the individual strains using the 2014b MATLAB version with the code from the BIOL398 course.

We will also be running forward simulations of the deletion strains that contain the optimized parameters (threshold values, production rates, and network weights) from the estimation of the wt data - what was detailed above.

[2015-05-28 17:33] trixr4kdz commented on #94
I fixed the code fragment that causes the production rates worksheet to not be outputted

[2015-05-28 17:35] trixr4kdz commented on #90
I fixed the code fragment that causes the network_optimized_b worksheet to not be outputted

[2015-05-28 17:47] trixr4kdz commented on #88
I've implemented the naming scheme detailed in this issue except for the output sheets "strain designation_sigmas" and "optimization_diagnostics"

[2015-05-28 17:48] trixr4kdz commented on #94
When testing, be sure to change the input worksheet "network_b" into "threshold_b"

[2015-05-28 17:49] trixr4kdz commented on #90
When testing, be sure to change the input worksheet "network_b" into "threshold_b". Also, the new output sheet containing b is now named "optimized_threshold_b" instead of "network_optimized_b"

[2015-05-28 17:57] bengfitzpatrick commented on #90
@trixr4kdz @kdahlquist I am assuming this code is in the beta branch.  I will test it this evening.

[2015-05-28 18:51] tessaam commented on #97
For both the Sigmoidal and Michaelis Menten an .xls and an .xlsx file gave the same output.
http://openwetware.org/wiki/GRNmap_Testing_Report_.xlsx_vs._.xls_2015-05-27#Observations

[2015-05-28 19:13] kdahlquist opened #99 "compare two successive identical runs with same version code and same input workbook"
I don't know if we've actually done this.  Have we actually run the same input workbook twice with the same code and version of MATLAB and compared results?

We would want to compare the values of the estimated w, b, P parameters, as well as the number of iterations and the LSE.

Be sure to use "clear all" between runs.

[2015-05-28 20:40] kdahlquist commented on #83
confirmed and closing

[2015-05-28 20:40] #83 closed

[2015-05-28 20:40] kdahlquist commented on #82
confirmed and closing

[2015-05-28 20:40] #82 closed

[2015-05-28 20:43] kdahlquist commented on #81
confirmed and closing

[2015-05-28 20:43] #81 closed

[2015-05-28 20:56] kdahlquist commented on #80
To answer your questions:
1. Yes, we should open a GRNmap account on SlideShare--I just haven't gotten around to it.  I'll open an issue for it and assign it to me.
2. I would like the SACNAS poster to end up on the master branch again.  I want us to actually store the posters here on GitHub for posterity, even if we also have them on SlideShare.  Can you add it back to the beta branch so that the

[2015-05-28 23:06] Nwilli31 opened #100 "No output files for .xlsx or .mat created after changing all inital guesses for weights to 0 in running wt alone"
This is the following error message that appears:

<stopping criteria details>

Error using copyfile
No matching files were found.

Error in output (line 20)
copyfile([input_file '.xlsx'], output_file);

Error in GRNmodel (line 19)
GRNstruct = output(GRNstruct);

All the figures are created and saved, but not Excel or MATLAB files.

[2015-05-28 23:20] kdahlquist commented on #100
@Nwilli31 should e-mail @trixr4kdz the input file you used so she can track the bug.  Also, when reporting a bug, state the MATLAB version and version of the code you are using.

[2015-05-28 23:28] Nwilli31 commented on #100
I figured out that when running MATLAB 2014b with the code used for the BIOL398 course, the input file must be .xlsx.

I reran the model and used the input file saved as .xlsx and I received the .mat and the .xlsx output files after MATLAB finished running.

The original file used was .xls.

[2015-05-28 23:37] trixr4kdz opened #101 "Question about viewing the number of iterations"
After closing out the window that gives a figure every 100 iterations, is there a way to open the output .mat file and see how many iterations were taken for a given run (i.e. we want to see the information that tracks how many iterations were actually made)?

[2015-05-29 00:06] kdahlquist commented on #100
@Nwilli31, if this is no longer an issue, please close it.

[2015-05-29 00:06] #100 closed

[2015-05-29 00:27] trixr4kdz opened #102 "Computation for standard deviation"
For the "strain designation_sigmas" aka standard deviations, which function would contain the computations for it? I was thinking it would be either in lse.m or general_least_squares_error.m

[2015-05-29 01:45] trixr4kdz commented on #102
Just an update on this. I think I found the code fragment that calculates the std deviation. Can you confirm?

[code]

[2015-05-30 20:58] trixr4kdz commented on #90
@bengfitzpatrick Yes the bug fix is in the beta branch

[2015-05-31 04:18] trixr4kdz commented on #88
I've fixed the code so that the "strain designation_sigmas" (aka standard deviations) worksheet is now outputted

[2015-06-01 17:17] GraceJohnson opened #103 "Save diagnostic figure automatically"
We would like the progress (counter) diagnostic figure to be saved automatically with all the other output figures. We would like to be able to see how many iterations the model took, and potentially be capable of seeing the parameter counter figures. We would like this change to be independent of whether you select make graphs or do not make graphs (in other words, it should always happen).

[2015-06-01 17:21] GraceJohnson commented on #95
We have run most tests with all w=0. We are obtaining estimated weights, b's and p's that are the same as w=1 out to about the third decimal place.

[2015-06-01 17:26] GraceJohnson commented on #10
Here is the wiki page with our notes: http://openwetware.org/wiki/GRNmap_Testing_Report:_Strain_Run_Comparisons_2015-05-27#Results_and_Discussion

[2015-06-01 17:35] tessaam commented on #74
I am now making the smaller sets so they can be used for testing.

[2015-06-01 17:43] bengfitzpatrick commented on #101
the global variable counter contains this information. I recommend creating a field in the GRNstruct.GRNOutput structure called counter and assigning it after line 67 of the lse routine, where the penalty term is saved out.

[2015-06-01 17:51] bengfitzpatrick commented on #102
current output is not correct.  Just a sheet with a column of zeros. It appears that the avg and stdev fields are not being computed correctly either.  This code snip has a big error... the avg and stdev arrays appear to be repeatedly zeroed out with a single column reassigned afterward.  The comment is ironically correct... the preallocation SHOULD be done elsewhere.

    for iT = 1:GRNstruct.GRN

[2015-06-01 17:56] bengfitzpatrick opened #104 "UH 2752 computer lab access"
@tessaam @trixr4kdz @NAnguiano need to visit the one card office for an update for access to the Math computer lab (2752) across from @bengfitzpatrick office. @GraceJohnson @Nwilli31 should have access now: tessa, trixie, and nicole will have access once their cards are updated.

[2015-06-01 17:57] trixr4kdz commented on #30
@dondi for items 3 and 4 in your Jan 28 comment, what would be the best way to put the information in the activity diagram? I was thinking that putting more information in the diagram would make it too crowded. The updated activity diagram that Juan made is in the beta branch under "documents" in case you want to see it. I've started documenting the public variables for each of the functions we us

[2015-06-01 21:30] tessaam commented on #74
I created the 16 different input sheets and with the help of Trixie uploaded them onto the beta version of GRNmap.
I created two new folders in the "test_files" subfolder called "sixteen_tests" and "sixteen_tests_output" where the "sixteen_tests" contains the input sheets and the "sixteen_tests_output" contains the output sheet.

http://openwetware.org/wiki/GRNmap_Testing_Report_16_Test_Files_2015

[2015-06-01 22:20] trixr4kdz commented on #89
Removed "concentration_sigmas" from all Excel files in the test_files folder

[2015-06-01 22:26] trixr4kdz commented on #4
I've updated the input/output wiki. I only changed the names of the input sheets for "How to format the input file for GRNmap", but I added some descriptions for the output sheets. Not quite sure if they're sufficient though.

[2015-06-01 22:36] trixr4kdz commented on #4
Should I also include the "optimization_diagnostics" section to the output wiki even though we haven't started that one yet?

[2015-06-01 22:44] trixr4kdz commented on #102
By current output, did you mean that the values for all the worksheets in the output file are all just zeroes or just the ones for the sigmas?

Just to clarify though, we would want the standard deviation for each unique timepoints, yes? Like if we have replicates of timepoints 15, 30, and 60, we would have three different columns of standard deviations? Also, is GRNstruct.microData exactly the sa

[2015-06-01 22:49] kdahlquist commented on #4
Yes, go ahead.  You can add a note that it hasn't been implemented yet and reference the issue number.  You can edit it later to take the note off when it has been done.

[2015-06-01 22:51] kdahlquist commented on #102
To answer the first part of the question, we would want standard deviations for each timepoint, so if you had 15, 30, and 60, you would have a standard deviation column for each one.

[2015-06-01 22:53] kdahlquist commented on #104
Did you want to give @anuvarsh access?  @NAnguiano is actually gone for the summer already, FYI.

[2015-06-01 22:56] kdahlquist commented on #102
This issue is redundant with #9.  I will close #9 and leave this one open.

[2015-06-01 22:57] kdahlquist commented on #9
This issue is now redundant with #102, so I am closing this one and leaving that one open.

[2015-06-01 22:57] #9 closed

[2015-06-01 23:18] trixr4kdz commented on #4
Finished

[2015-06-01 23:38] trixr4kdz commented on #72
@dondi how did you create the URL using Google Analytics? I've been exploring the GA interface but I can't seem to find a way to create /grnmap/download

[2015-06-01 23:42] tessaam commented on #74
The newest version of GRNmap (4:40 pm 2015-06-01) needs the sheet to be (strain)_log2_expression rather than just (strain). The current sheet names in the "sixteen_tests" file still has the sheet named (strain). I can update the input sheets, but should I run them all again and get new output sheets?

[2015-06-02 00:02] bengfitzpatrick commented on #104
I will ping Jill for @anuvarsh access.

[2015-06-02 00:08] bengfitzpatrick commented on #102
@trixr4kdz when I run the current beta, I get a "strain designation_sigmas" sheet that has one column of zeros.  When I look at the GRNstruct data, the stdev array (which should be number of times by number of genes as @kdahlquist noted in an upstream comment) has zeros except for a final column of NaNs (and one too many columns).  load the .mat file into matlab and look at the entries.  Running t

[2015-06-02 02:20] trixr4kdz commented on #102
Ok I figured out why the last column is NaNs. In the optimization_parameter worksheet, the times are 0.4, 0.8, 1.2, and 1.4. However, the timepoints in the log2_expression worksheets are 0.4, 0.8, 1.2, and 1.6. The readInputSheet function tries to match the timepoints but since the last ones are different, it doesn't read the values corresponding to the last timepoint correctly.

[2015-06-02 02:26] kdahlquist commented on #96
@GraceJohnson, it occurred to me that you should add up the LSEs from all of the single strain runs and then compare it to the all strain run, otherwise it isnt a fair comparison.

[2015-06-02 03:38] bengfitzpatrick commented on #102
good catch, @trixr4kdz -- who's working the test file prep? @tessaam ??

[2015-06-02 03:39] bengfitzpatrick commented on #74
@tessaam let's wait till the matlab code functionality is added before changing the sheet names.

[2015-06-02 03:41] bengfitzpatrick commented on #74
@tessaam since you are dealing with the test files, there is a data bug I'd like you to check.  In some of the test files, there are times listed as 0.4, 0.8, 1.2, and 1.6 in one sheet and 0.4, 0.8, 1.2, and 1.4 in another sheet.  Can you check the times for consistency? 1.6 is the correct data. I am not sure which test files are involved.

[2015-06-02 04:38] bengfitzpatrick commented on #96
alternatively, we should compare single strain estimations to ideal single strain sums of squares.

[2015-06-02 16:35] GraceJohnson commented on #96
@bengfitzpatrick I have compared single strain estimation (for wt) to its ideal sum of squares. I also computed the ideal using all five strains (wt plus the four deletion strains), by following the same procedure and adding up all the sums and dividing by the grand total of data points. Is this how the code computes the LSE when data from multiple strains must be estimated? Or does is add up the

[2015-06-02 16:47] tessaam commented on #74
In the subfolders "estimation_tests" and "forward_tests" the workbook, "4-genes_6-edges_artificial-data_Sigmoid_estimation.xls" was the only sheet with the time inconsistency. I changed the time in the optimization parameters sheet to match the log2_expression data (0.4, 0.8, 1.2, and 1.6) and saved it as a new file ("4-genes_6-edges_artificial-data_Sigmoid_estimation_updated.xlsx") and ran it. Th

[2015-06-02 17:37] bengfitzpatrick commented on #96
@GraceJohnson can you provide some numbers related to your comparisons?

[2015-06-02 17:37] bengfitzpatrick commented on #74
thanks @tessaam

[2015-06-02 18:00] GraceJohnson commented on #96
@bengfitzpatrick This page contains MATLAB output LSE values for several strains, alone and combined: http://openwetware.org/wiki/GRNmap_Testing_Report:_Strain_Run_Comparisons_2015-05-27. As each strain is added to the analysis, the LSE ouput by the code seems to increase linearly (i.e. the LSE for one strain is around 7, for two strains around 15, etc.). For the ideal sum of squares calculations,

[2015-06-02 20:58] tessaam commented on #74
The functions that produce the sheets optimized_production_rates  and optimized_threshold_b are working correctly. When fixP-0 the optimized_production_rates sheet was produced; fixP-1 no production rates sheet was produced. When fixb-0 the optimized_threshold_b sheet was produced; fixb-1 no optimized_threshold_b sheet was produced.
The wt_log2_optimized_expression, wt_sigmas, dcin5_log2_optimized

[2015-06-02 21:15] trixr4kdz commented on #91
I think this will be especially useful for reading off Excel sheets for unit testing

[2015-06-02 21:27] trixr4kdz commented on #102
I've edited the code so the standard deviations should be correct now. I did notice when I ran the code with the 4-genes_6-edges sample that there were standard deviations that are 10^-17 (or something similarly small) instead of just 0.

[2015-06-02 23:21] tessaam commented on #99
I compared identical copies of both a Sigmoidal and MM workbook from the sixteen_tests subfolder. I found no difference between the values of the estimated w, b, P parameters, or the number of iterations, LSE, and penalty term.

http://openwetware.org/wiki/GRNmap_Testing_Report_Identical_Runs_with_Same_Code_Version_and_Same_Input_Workbook_2015-06-01#Discussion

[2015-06-03 17:52] tessaam commented on #97
This was tested again using the most updated version of GRNmap-beta (updated as of 9:42 am 2015-06-03). The w, P, b (Sigmoidal only), LSE, Penalty term, and the counter are the same between the .xlsx and .xls versions for one MM (4-genes_6-edges_artificial-data_MM_estimation_fixP-0_graph) and one Sigmoidal (4-genes_6-edges_artificial-data_Sigmoidal_estimation_fixb-0_fixP-0_graph).
http://openwetwa

[2015-06-03 18:01] trixr4kdz opened #105 "Michaelis-menten model with unregulated genes not being computed correctly; (no_inputs) variable"
I think there is a bug when using the michaelis-menten model when there is no gene being regulated. Should we make test cases for genes that are not regulated or is it guaranteed that the Excel file has been modified by the user to only have regulated genes?

[2015-06-03 21:28] kdahlquist commented on #94
@tessaam has verified that this is fixed on the beta branch

[2015-06-03 21:28] #94 closed

[2015-06-03 21:28] kdahlquist commented on #90
@tessaam has verified that this is fixed in the beta branch.

[2015-06-03 21:28] #90 closed

[2015-06-03 21:30] kdahlquist opened #106 "create and populate optimization_diagnostics sheet in output workbook"
"optimization_diagnostics" this would be a new worksheet that has stuff like the LSE value in it and possibly other stuff we want to also output that doesn't fit into any of the other sheets. We will create a new issue for this task.

[2015-06-03 21:31] dondi commented on #79
Look at this for comparison:

https://github.com/dondi/GRNsight/blob/beta/web-client/public/js/upload.js#L89-L94

I tried the Download link just now and I spotted the reported hit being sent to Google Analytics (you can see this in the Network part of the browser dev tools as a `collect` URL).

What shows up in the Google Analytics page itself? Some hits but incorrect? No hits at all? That will he

[2015-06-03 21:32] kdahlquist opened #107 "change order of "strain designation_sigmas" worksheets in output workbook"
group the "strain designation_sigmas" worksheets together in the output workbook instead of interleaving them with the "strain_log2_optimized_expression" sheets.

[2015-06-03 21:33] kdahlquist commented on #88
the optimization_diagnostics has been opened as a separate issue #106

changing the order of the "strain designation_sigmas" sheets is now issue #107

Everything else is verified to be done in the beta branch by @tessaam, so closing this issue.

[2015-06-03 21:33] #88 closed

[2015-06-03 21:37] kdahlquist commented on #102
@tessaam should run the larger 22-gene_47-edge network to verify that the calculations are being done properly.  Just run one case and then compare the results of the sigmas sheet to calculations you compute in Excel to verify that MATLAB is computing it correctly.  run with all strains

[2015-06-03 21:39] kdahlquist commented on #102
make a new folder under "test-files" called "validation-tests" to contain extra files used for validation that are not directly part of the estimation or forward tests.

[2015-06-03 21:40] dondi commented on #79
I performed a quick test just now and the count appears to hit OK. I suggest you add the `sessionControl` parameter (linked above) plus capitalize the `/GRNmap/` part of the path (right now it reports as `/grnmap/` in Google Analytics).

[2015-06-03 21:44] kdahlquist commented on #105
There is global variable called no_inputs that is in the Michaelis-Menten.m function and general_network_dynamics_mm.m.  There is a loop using it.

[2015-06-03 21:50] kdahlquist commented on #72
@trixr4kdz needs to fix capitalization and the session control.

[2015-06-03 21:51] kdahlquist commented on #79
The last two comments by @dondi should be on issue #72.

[2015-06-03 21:57] kdahlquist commented on #101
done and closing

[2015-06-03 21:57] #101 closed

[2015-06-03 22:05] #99 closed

[2015-06-03 22:06] kdahlquist commented on #74
@tessaam needs to update the "large" files 22-genes_47-edges to be compliant with new sheet names.  when this is done, can close the issue.

[2015-06-03 22:06] kdahlquist commented on #97
confirmed that there is no difference, so closing

[2015-06-03 22:06] #97 closed

[2015-06-03 22:15] kdahlquist commented on #96
@bengfitzpatrick doesn't think that the LSE computed for the multiple strains is being computed correctly.  It might be dividing by the number of datapoints for a single strain, but it should be dividing by the total number of datapoints. He needs to check the MATLAB code.

What should be put out in diagnostic worksheet #106  is
* LSE
* penalty
* minimum (ideal) LSE

[2015-06-03 22:16] kdahlquist commented on #106
What should be put out in diagnostic worksheet #106  is
* LSE
* penalty
* minimum (ideal) LSE
* number of iterations (counter)

[2015-06-03 22:34] kdahlquist commented on #10
We need to dive deeper into this to explain what is happening with all these results.
* Look at your bar charts and discuss in English sentences the relationships you see.
* Look at the individual expression plots to see if you can explain what is going on.
* Figure out the fits of the individual genes by getting the sum of squares of error for the individual genes to see which have good fits and

[2015-06-03 22:35] kdahlquist opened #108 "Systematically pare down the network by deleting nodes and edges and compare estimation results"
Take the 21-gene_50-edge network and systematically delete genes (and their associated edges) one by one and run the estimation and compare the results.

[2015-06-03 22:57] kdahlquist commented on #95
@bengfitzpatrick says "Is there a gene that is always repressed and what the b's are in those cases."

[2015-06-03 23:01] #89 closed

[2015-06-03 23:01] kdahlquist commented on #75
verified complete

[2015-06-03 23:01] #75 closed

[2015-06-03 23:06] kdahlquist opened #109 "merge beta and master and create release v1.0.8"
merge beta and master and create release v1.0.8

[2015-06-03 23:07] kdahlquist commented on #109
Remember that we need to update the release notes, the About page and News pages.

[2015-06-03 23:22] bengfitzpatrick commented on #104
@anuvarsh @tessaam  please go to 1 card office to gain access to UH2752 computer lab.
@GraceJohnson @Nwilli31 please check that your 1 cards open the UH2752 door.

[2015-06-04 00:40] tessaam commented on #102
The "sigmas" output sheet for the 22-genes_47-edges_Dahlquist-data_Sigmoidal_estimation_fixb-1_fixP-1_no-graph was tested by comparing the standard deviation values calculated by MATLAB with ones calculated by excel. The standard deviations of the log2_expression data was calculated for  wt, dcin5, dgln3, dhap4, dhmo1, and dzap1. The maximum difference between the excel calculated sigmas and the M

[2015-06-04 02:00] trixr4kdz commented on #109
Beta has been merged with master, but the lab computers seem to not have the MATLAB Compiler so I couldn't make the executable

[2015-06-04 02:50] trixr4kdz commented on #72
I've changed the virtual page name to "GRNmap/download" instead of "grnmap/download" and added sessionControl

[2015-06-04 03:19] kdahlquist commented on #109
The lab computers do not, only the ones in my research lab.  I know I got the key back from you, but if you come during the day, me or someone else in the department can let you in.  Or you could wait until Monday. 

Kam D. Dahlquist, Ph.D.
Associate Professor of Biology
Loyola Marymount University
http://myweb.lmu.edu/kdahlqui

-------- Original message --------
From: Trixie Roque <notifications@

[2015-06-04 03:22] trixr4kdz commented on #78
Date has been changed

[2015-06-04 03:24] trixr4kdz commented on #77
Separated news items by year

[2015-06-04 03:29] trixr4kdz commented on #71
Updated to include implementation of download counter + changed date last modified

[2015-06-04 03:47] trixr4kdz commented on #109
Ok I can come in around 11 tomorrow

[2015-06-04 15:16] kdahlquist commented on #109
I won't be there at 11 but someone in the department should be able to let you in.  All the faculty and staff have a key.

Kam D. Dahlquist, Ph.D.
Associate Professor of Biology
Loyola Marymount University
http://myweb.lmu.edu/kdahlqui

-------- Original message --------
From: Trixie Roque <notifications@github.com>
Date:06/03/2015  8:47 PM  (GMT-08:00)
To: kdahlquist/GRNmap <GRNmap@noreply.github

[2015-06-04 19:39] trixr4kdz commented on #109
Updated the release to include the executable. Also updated the release notes on the About page and the News page

[2015-06-04 19:46] trixr4kdz commented on #79
I've added sections in the Downloads page so that all released versions of the executable and source code are available. Still need to add the system requirements though.

[2015-06-04 19:48] trixr4kdz commented on #79
Do we want to track downloads of source code and executable separately or just as one?

[2015-06-04 19:50] trixr4kdz commented on #96
@bengfitzpatrick I've merged beta with master, but I didn't fix the order of the worksheets yet. You can check the code now though since I've just finished the release

[2015-06-04 20:44] bengfitzpatrick commented on #96
@trixr4kdz  I downloaded the master last night. When did you do the merge?

[2015-06-04 22:11] trixr4kdz commented on #96
I merged them yesterday, before 7 I think

[2015-06-04 22:14] bengfitzpatrick commented on #96
@trixr4kdz sehr gut.  I aim to post a new beta by Monday with the diagnostics spread sheet added.

[2015-06-04 23:23] kdahlquist opened #110 "Upcoming MATLAB Webinar on managing and sharing code 6/24/15"
https://go2.mathworks.com/managing-and-sharing-matlab-code-lwb-na-923945?s_v1=6596&elq_cid=934546

From this web site:

Managing and Sharing MATLAB Code

Date: June 24, 2015
Session 1 Time: 9:00 a.m. U.S. EDT/ 2:00 p.m. BST/ 3:00 p.m. CEST
Session 2 Time: 2:00 p.m. U.S. EDT/ 7:00 p.m. BST/ 8:00 p.m. CEST
Overview

As the size and complexity of your scientific and engineering projects grow, it beco

[2015-06-04 23:26] kdahlquist commented on #78
verfied and closing

[2015-06-04 23:26] #78 closed

[2015-06-04 23:26] kdahlquist commented on #77
Please default the 2015 section to "open" instead of closed.

[2015-06-04 23:31] kdahlquist commented on #79
I guess my answer is that if we can track each item separately, then we should do so.  That would mean tracking each version of the executable and each version of the code separately.

[2015-06-05 20:49] trixr4kdz commented on #77
Finished

[2015-06-07 19:15] bengfitzpatrick commented on #106
@kdahlquist @trixr4kdz  I am unable to push a new beta package, so I've uploaded a zip file with updated source code to lionshare.  You should be able to access these by signing into lionshare and navigating to my folder.  The zip file is GRNmap-beta-bgf.zip.  The code includes the following updates:

(1) optimization_diagnostics sheet with the requested output data.
(1a) added code functionality

[2015-06-08 17:10] trixr4kdz commented on #107
@bengfitzpatrick fixed this and I've pushed the changes to the beta branch

[2015-06-08 17:17] trixr4kdz commented on #103
@bengfitzpatrick fixed this and I've pushed the updated files to the beta branch

[2015-06-08 17:36] GraceJohnson opened #111 "Check b estimation for genes with no inputs"
@GraceJohnson will provide input and output sheets to @bengfitzpatrick. Problem genes (with no inputs) are SKO1, FHL1, SWI6. The code is giving a non-0 b for these genes.

[2015-06-08 17:48] trixr4kdz commented on #79
I've updated the Downloads page to count downloads of different versions separately.

[2015-06-08 21:39] tessaam commented on #84
The executable works as long as the computer has administrator privileges and none of the directory names (folder name or administrator name) have any spaces. Anti-virus software also prevented the download of GRNmap from the GRNmap website (http://kdahlquist.github.io/GRNmap/index.html) so it must be disabled for the download to work. However, the anti-virus software did allow downloads from gith

[2015-06-09 15:16] bengfitzpatrick commented on #111
estimation is working correctly, but the array used to write data to the spreadsheet is not being properly initialized, so extraneous non-zero data is being written to the "no input" components of the b vector. I will update the beta branch soon.

[2015-06-09 15:19] bengfitzpatrick commented on #111
@trixr4kdz @kdahlquist the new beta code correcting this initialization problem is on lionshare, descriptively named GRNmap-beta-bgf-2.zip If you could push it, Trixie, that would be great. I have not had time to install and investigate the git package.

[2015-06-09 16:22] tessaam commented on #106
I tried running 4-genes_6-edges_artificial-data_Sigmoidal_estimation_fixb-0_fixP-0_graph three times unsuccessfully. MATLAB never produces an output sheet. The counter got up to over 5,000,000 with no output sheet produced. For this input sheet, the counter previously only went up to 8700 before producing an output sheet.

[2015-06-09 16:47] bengfitzpatrick commented on #106
Thanks, @tessaam .  I noticed in my testing that the number of iterations has increased on the data @GraceJohnson provided.  I will look into this. I suspect our rescaling of the LSE has changed the convergence properties for the optimization routine somewhat.

In the meantime, try to increase the TolX and TolFun values. 1e-10 may be too small given the rescaling we've done on the LSE.  Increase b

[2015-06-09 18:51] tessaam commented on #106
@bengfitzpatrick  Increasing the TolX and TolFun values to 1e-6 worked, but increasing them to 1e-8 did not. Decreasing  MaxIter and MaxFunEval to 1e5 worked, but decreasing them to 1e6 did not.
The optimization_diagnostics sheet had fairly different values for increasing the TolX and TolFun values to 1e-6 and decreasing  MaxIter and MaxFunEval to 1e5 (Results are on http://openwetware.org/wiki/GR

[2015-06-09 19:37] bengfitzpatrick commented on #106
@tessaam can you please repeat these four tests setting fix_b to 1 (keeping fix_p at 0)?  Thanks!

[2015-06-09 21:59] kdahlquist commented on #84
Did you guys try running the GRNmap executable from the Student (non-administrator) login after you had installed it as an Administrator?  If not, please do so.

[2015-06-09 22:11] kdahlquist commented on #71
I don't actually see the line at the bottom of the web pages that shows the number of page views.  There should be a line on every page that says "This page has been accessed x times." substituting x for the page views.  See the GRNsight web site for placement.

Also, are you able to add the download counter to the Downloads page now?  The bottom of that page should read, ""This page has been acce

[2015-06-09 22:13] kdahlquist commented on #72
@trixr4kdz what is the status of this?  Is it implemented?  I referenced this in Issue #71.

[2015-06-09 22:14] kdahlquist commented on #77
confirmed and closing

[2015-06-09 22:14] #77 closed

[2015-06-09 22:15] kdahlquist commented on #19
Lauren has suggested a rif off of Google Maps where there is an image with the Google Pins on it referencing different aspects of the program.  Let's take a few minutes at our next meeting to brainstorm ideas related tot his.

[2015-06-09 22:15] tessaam commented on #106
I repeated the test fixing b-1 and keeping P-0. Increasing the TolX and TolFun values to 1e-6 and  1e-8 and decreasing MaxIter and MaxFunEval to 1e6 and 1e5 worked. The output sheets all had very similar values, except that the value of the optimization_diagnostic parameters varied between increasing the TolX and TolFun and  decreasing MaxIter and MaxFunEval. The openwetware page http://openwetwar

[2015-06-09 22:21] bengfitzpatrick commented on #106
thanks, @tessaam that's great.

[2015-06-09 22:51] kdahlquist commented on #79
Here is some more information to provide on the Downloads page:

Underneath the header "Download GRNmap Executables" but before the section for v1.0.8, please add the following text.

"We recommend using the latest version of the GRNmap executable.  Links to download prior versions are provided for archival purposes."

For each of the executable sections, on a line after the sentence: "Clicking th

[2015-06-09 22:53] kdahlquist commented on #84
Also, @trixr4kdz, you mentioned that you were able to download the executable on your Mac.  Did you try running it?  I assumed that it wouldn't work because running it from code doesn't work on a Mac, but we should test to make sure.

[2015-06-09 22:59] tessaam commented on #84
GRNmap worked on the Student account after it was installed on the administrator login GRNmap.
http://openwetware.org/wiki/GRNmap_Testing_Report_Executable_2015-06-08_TM

@kdahlquist I have my Mac with me. Would you like me to try running the executable on it?

[2015-06-09 23:07] kdahlquist commented on #79
* Please take the "s" off of the word Codes in the header "Download GRNmap Source Codes"
* Please add the line immediately below the "Download GRNmap Source Code Header: "We recommend using the latest version of the GRNmap source code. Links to download prior versions are provided for archival purposes."
* Then immediately below that line, please add a collapsible section called "System Requiremen

[2015-06-09 23:32] kdahlquist commented on #84
Yes, that would be great!  Thanks.

At 03:59 PM 6/9/2015, you wrote:

[2015-06-10 00:22] GraceJohnson opened #112 "Output lines from all strains run seem to be averages of all data, rather than individual lines for each strain."
Output lines from all strains run seem to be averages of all data, rather than individual lines for each strain. Is the plotting of this line somehow involved in the calculations/estimation of parameters?

[2015-06-10 00:25] GraceJohnson opened #113 "Dynamics of model do not fit t60 data points when those data points do not fit the production/degradation trend"
Dynamics of model do not fit t60 data points when those data points do not fit the production/degradation trend. Is it possible that the production/degradation trend is overpowering input dynamics?

[2015-06-10 00:26] tessaam commented on #74
Input sheets are corrected, but not all of the corrected output sheets have been created and uploaded to the wiki.
http://openwetware.org/wiki/GRNmap_Testing_Report_16_Test_Files_from_Dahlquist-data_2015-05-26_TM

[2015-06-10 00:34] bengfitzpatrick commented on #113
@GraceJohnson I need you to post some results.  can you paste some plots into a ppt and put it on openwetware?

[2015-06-10 00:35] bengfitzpatrick commented on #112
@GraceJohnson I need a little more explanation?

[2015-06-10 15:52] bengfitzpatrick opened #114 "Research reproducibility story on NPR"
http://www.npr.org/sections/health-shots/2015/06/09/413140503/costs-of-slipshod-research-methods-may-be-in-the-billions

Homework for all: read this short piece and the PLoS One article linked to it.

[2015-06-10 16:24] GraceJohnson commented on #113
The powerpoint is in the discussion section of this page, http://openwetware.org/wiki/GRNmap_Testing_Report:_Strain_Run_Comparisons_2015-05-27, and is titled GRNmap testing analysis. Slides 13 and 15 contain the most relevant plot. @Nwilli31 will post another ppt containing plots of more genes that demonstrate this trend.

[2015-06-10 16:25] GraceJohnson commented on #112
When running two or more strains together, many times the output lines model the average of all data points, instead of having distinct lines for each strain. Examples are shown in the last slide of the powerpoint in the discussion section of http://openwetware.org/wiki/GRNmap_Testing_Report:_Strain_Run_Comparisons_2015-05-27.

[2015-06-10 16:52] Nwilli31 commented on #113
On the same page @GraceJohnson mentioned, there is another powerpoint titled: Poor Fitting T60 Model to Data Points that can be downloaded. The genes seen in this powerpoint have the most noticeable shortcomings in the model's approach to fit the data points.

[2015-06-10 18:29] tessaam commented on #84
I timed how long it took to run different input sheets:
Took 29:07.18 for 22-genes_47-edges_Dahlquist-data_Sigmoidal_estimation_fixb-0_fixP-0_graph.xlsx
Took 3:34.52 for 4-genes_6-edges_Dahlquist-data_Sigmoidal_estimation_fixb-0_fixP-0_graph.xlsx
Took 3:43.75 for 22-genes_47-edges_Dahlquist-data_Sigmoidal_estimation_fixb-1_fixP-1_graph.xlsx

I also ran two input sheets at the same time. GRNmap wil

[2015-06-10 21:33] kdahlquist commented on #102
verified by @tessaam so closing

[2015-06-10 21:33] #102 closed

[2015-06-10 21:34] kdahlquist commented on #84
this is fully documented so closing

[2015-06-10 21:34] #84 closed

[2015-06-10 21:35] kdahlquist commented on #74
run tests on beta and when beta is verified it will be merged to master so no further tests need to be done on master.

[2015-06-10 21:36] kdahlquist commented on #37
Merge test-suite branch into beta branch and all further development along these lines should be in beta.

[2015-06-10 21:37] kdahlquist commented on #109
done

[2015-06-10 21:37] #109 closed

[2015-06-10 21:38] kdahlquist commented on #106
optimization_diagnostics should appear like that, not camelCase

[2015-06-10 21:40] kdahlquist commented on #103
verified by @tessaam

[2015-06-10 21:40] #103 closed

[2015-06-10 21:41] kdahlquist commented on #111
junk data in a local variable, variable name being reused.  @bengfitzpatrick has fixed, but needs to be tested by @GraceJohnson

[2015-06-10 21:41] kdahlquist commented on #107
verfied.

[2015-06-10 21:41] #107 closed

[2015-06-10 21:42] kdahlquist commented on #96
@GraceJohnson should test this (beta branch)

[2015-06-10 21:44] kdahlquist commented on #112
discussed at lab meeting on 6/10/15.  degradation rate rules for down-regulation

[2015-06-10 21:44] #112 closed

[2015-06-10 21:45] kdahlquist commented on #113
if the gene is not regulated by any of the deleted genes, it won't affect by the deletion.

[2015-06-10 21:45] #113 closed

[2015-06-10 21:47] kdahlquist commented on #95
should be part of testing plan, need more test spreadsheets.  @GraceJohnson and @Nwilli31 should share with @tessaam so they can be codified and added to set of test files.

[2015-06-10 21:57] kdahlquist opened #115 "release v1.0.10 and executable"
package two test files
* 22-gene_47-edge, sigmoidal, graphs, estimate P and b
* 4-gene_6-edge, sigmoidal, graphs, estimate P and fix b
put them in a folder called "data_samples > input" and put the corresponding output .xlsx files in a folder "data_samples > output"

with the corresponding release notes, About page, download page, news.

[2015-06-10 22:03] kdahlquist opened #116 "@bengfitzpatrick will redo L-curve and driver script which automates it"
@bengfitzpatrick will redo L-curve and driver script which automates it

[2015-06-10 22:07] kdahlquist commented on #72
@trixr4kdz needs to grab the data from Google Analytics, GRNsight uses the server to do it, but we don't have one for GRNmap.  @dondi will use GRNsight server to do this.

[2015-06-10 22:08] kdahlquist commented on #76
See #79 for text to use.

[2015-06-10 22:52] kdahlquist commented on #10
@GraceJohnson analyzed genes with no inputs at all and @Nwilli31 analyzed genes with auto-regulation and no additional inputs.  We will continue down this road by:
* grouping genes according to the number of inputs they have
* analyzing those groups of genes in the same way that @GraceJohnson and @Nwilli31 have been doing.

[2015-06-10 23:23] kdahlquist commented on #37
In the next week, @tessaam and @trixr4kdz should work together on automating tests that @tessaam has completed manually.
* For the small networks, @tessaam has observed no differences in the output files from multiple runs (i.e., all differences were 0), so it should be straightforward to write the test.
* For the large networks @tessaam has observed very small differences (out in the far decimal

[2015-06-10 23:33] kdahlquist commented on #30
@trixr4kdz reported on this in the 6/10/15 lab meeting.  She is working on updating and organizing the LSE portion.

@bengfitzpatrick noted that in the future, we should refactor the code to separate out a "statistics" module to compute the average, standard deviation, and ANOVA p values ( #73 ), which is now living in the readInput function.

@trixr4kdz made a list of all global variables and whe

[2015-06-10 23:52] tessaam commented on #115
@kdahlquist
*22-gene_47-edge, sigmoidal, graphs, estimate P and b took an hour to run (100,000 iterations)
*4-gene_6-edge, sigmoidal, graphs, estimate P and fix b took under three minutes

[2015-06-10 23:55] kdahlquist commented on #115
We won't have time to do this this week, but we should try to run the executable and the source code version on the same computer to see the performance difference.  We could do this in my lab if we run the source code first and then I uninstall MATLAB and then we install the executable.

[2015-06-10 23:57] kdahlquist commented on #115
Also @tessaam , look at the RAM and processor speed on that laptop and compare it to the minimums I recommend on the issue #79 .  Right-click on the computer icon on the desktop and select "Properties" from the menu to see the RAM and processor speed.

[2015-06-10 23:58] trixr4kdz commented on #115
I've just published v1.0.10 with the data_samples folder and @tessaam is currently testing it on the laptop.

[2015-06-11 00:02] tessaam commented on #79
The Biology department laptop I ran the executable on had 4.00 GB of  RAM and a 2.60 GHz processor.

[2015-06-11 00:07] bengfitzpatrick commented on #115
@tessaam @kdahlquist we should try fix_P = 0 and fix_b = 1 for the 22-gene_47-edge example... maybe it'll be faster.

[2015-06-11 00:24] trixr4kdz commented on #79
When you said immediately below the line "Download GRNmap Source Code", did you mean below it when it is closed or below when it is open (i.e add "We recommend..." below the header but above the section to download v1.0.8)?

[2015-06-11 00:29] trixr4kdz commented on #79
My bad. I didn't see the comment for the executable. I'm assuming the additional lines go inside the collapsible sections

[2015-06-11 03:05] trixr4kdz commented on #79
Updated the Downloads page

[2015-06-11 03:23] trixr4kdz commented on #115
We did not have a chance to run the executable with the larger network because of the time it takes to run, but we tested it on the 4-gene_6-edge network and it worked.

[2015-06-11 04:14] trixr4kdz commented on #76
I've updated the Compatibility and Documentation pages and the README file with the System Requirements for Running the GRNmap source code as written in Issue #79

[2015-06-11 04:18] trixr4kdz commented on #76
I made the subdivided Compatibility only on the About page, but the last 2 bullet points are the same for both "Running from code" and "Running Stand-Alone".

[2015-06-11 05:29] bengfitzpatrick commented on #76
when you created the executable, @trixr4kdz , you created a windows executable.  Is there a way to create a mac executable as a separate entity?  Since the mac version of matlab has problems with xlsread and xlswrite, the compilation may fail... but can we try it?

[2015-06-11 14:47] bengfitzpatrick commented on #116
@kdahlquist  : L-curve suggests alpha = 0.001 instead of current 0.01.  Will post details later today. You may want to test this yourself with the current "large" network.

FYI, the small network's alpha is okay -- that one (due to the lack of noise in measurements: synthetic data) needs a very small alpha.

[2015-06-11 21:45] kdahlquist commented on #116
@bengfitzpatrick , remind me, the alpha values are then specific to the structure and genes in a particular network.  When you say "large" network, I assume you mean the 22-gene_47-edge network that @tessaam made the 16 permutations for and not the 21-gene_50-edge network that @NAnguiano and @GraceJohnson have been working on, right?

[2015-06-11 21:52] kdahlquist opened #117 "Time the length of the run and output it to the optimization_diagnostics worksheet"
In XMLPipeDB's GenMAPP Builder, we record the time it took to import data into the database and the information displays when it is done.  It would be nice if we could add this feature to GRNmap so that if you started a run and then went away to get coffee (lunch, nap...) and came back when it was finished you would know how long it took.  Ideally, this could be output to the optimization_diagnost

[2015-06-11 21:57] bengfitzpatrick commented on #116
@kdahlquist -- roughly speaking the alpha value represents the ratio of measurement uncertainty to parametric uncertainty.  It's related to the genes mostly through the measurement variance and the network through the range of magnitudes of the parameters.

Now that we've gotten the scaling corrected, this alpha value should work for a reasonable range of networks for your data.  I would expect hi

[2015-06-11 22:00] bengfitzpatrick commented on #117
this is relatively easy to do.  matlab has tic and toc to start and stop timers.  I can add that to the beta.

[2015-06-11 22:11] kdahlquist commented on #116
OK, sounds good.  @tessaam and @Nwilli31 and @GraceJohnson will need to update their input files accordingly.

I'm running the 22-genes_47-edges_Dahlquist-data_Sigmoidal_estimation_fixb-0_fixP-0_graph.xlsx from @tessaam right now and the counter is up to 90000.  I'll report what I get when I finish.

[2015-06-11 22:13] bengfitzpatrick commented on #116
@kdahlquist please try to fix_b = 1 too!

[2015-06-12 20:00] kdahlquist opened #118 "test what happens if estimateParams=0 and fix_P and/or fix_b =0"
Have we tested to see what happens if in the optimization_diagnostics sheet we have the following:

* estimateParams=0, fix_P=0, fix_b =0
* estimateParams=0, fix_P=1, fix_b =0
* estimateParams=0, fix_P=0, fix_b =1

In each of these cases, the value of "estimateParams" should govern and neither P nor b should be estimated, but we should check to see if this is the case.

[2015-06-12 20:30] kdahlquist commented on #4
I reviewed and edited both wiki pages for the input (https://github.com/kdahlquist/GRNmap/wiki/How-to-format-the-input-file-for-GRNmap) and output (https://github.com/kdahlquist/GRNmap/wiki/How-to-interpret-the-output-file-for-GRNmap) workbooks.

I'm going to assign this to @bengfitzpatrick now so that he can review what I wrote about the optimization_diagnostics sheet and make any additions and c

[2015-06-12 20:46] kdahlquist opened #119 "Clean up format and variable names of input and output worksheets"
We have successfully cleaned up the names, presence/absence, and content of the individual worksheets in the input and output files (issue #88).

I think we now need to address the inconsistencies of formatting of these worksheets.  We need to address:
* consistency between worksheets in the input file
* consistency between worksheets that originated with the input file and their corresponding out

[2015-06-12 20:59] kdahlquist commented on #116
@bengfitzpatrick, I just did it and it used 71218 when fix_b=1 vs 115810 when fix_b=0.  This particular network has MIG2 in it and needs b to be estimated to effectively model the high expression at t15.

By the way, I'm really liking the individual SSE's in the optimization_diagnostics output sheet.  It's very easy to see at a glance which genes are fit well and not.  And it's easy to compare run

[2015-06-12 21:19] kdahlquist commented on #76
@trixr4kdz, I like how you organized the compatibility section on the about page.  Can you add the executable requirements that you wrote to the executable section of the downloads page as well?

Also, I didn't notice before, but please remove the "s" from "Executable" in the section header on the download page.  Thanks.

[2015-06-13 00:50] trixr4kdz commented on #76
@bengfitzpatrick I believe it is possible to create a mac application. I've been looking into it a bit and found out that Xcode can be used to compile into a mac executable so I think it's worth a shot.

@kdahlquist I've updated the Downloads page to also have the System Requirements section for the Executable and removed the extra "s"

[2015-06-15 21:34] GraceJohnson commented on #111
Beta tested. Update was successful - genes with no inputs had estimated b-values of 0 in the output sheet. Result files can be found here: http://openwetware.org/wiki/Katherine_Grace_Johnson_Electronic_Lab_Notebook#June_15.2C_2015

[2015-06-15 21:42] GraceJohnson commented on #96
Beta tested. New version correctly computes min LSE. Notes and files can be found here: http://openwetware.org/wiki/Katherine_Grace_Johnson_Electronic_Lab_Notebook#June_15.2C_2015

In addition, for the strain I ran (wt alone), the LSE was only slightly more than the min LSE, 0.508 compared to 0.487. Correspondingly, the model outputs are more dynamic and seem to fit the data's average. However, it

[2015-06-17 07:06] dondi commented on #72
I've tweaked the GRNsight server code to respond to /grnmap with a `path` parameter. Once this is deployed, we can install the browser code to retrieve and display this information.

[2015-06-17 20:39] bengfitzpatrick commented on #111
checked and closed

[2015-06-17 20:39] #111 closed

[2015-06-17 21:30] kdahlquist commented on #72
The next time that GRNsight beta is merged with master, then take "beta" out of the URL of code called "ga-report.js"

[2015-06-17 21:31] dondi commented on #72
Client-side code to model is included in documentation.html now. It is a combination of some HTML at the end of the page plus adding a `script` element. With some exceptions (mainly the specialized download count), this code can generally be added to all of the other .html files.

[2015-06-17 21:41] kdahlquist commented on #30
@trixr4kdz should move her list of global variables to a wiki page on this GitHub project (it is on OpenWetWare right now).

[2015-06-17 21:49] kdahlquist commented on #37
* @trixr4kdz merged test_suite branch to beta last Monday.
* the 16 input test files of the small networks are now compatible with the changes to beta
* reran to get the corresponding outputs
* wrote tests
 * all output sheets produced as expected (e.g., if fix_b=0, then optimized_threshold_b sheet should be made)
 * wrote a test to change the name of the optimization_diagnostics.jpg file and then

[2015-06-17 22:08] bengfitzpatrick commented on #115
@kdahlquist I ran both test input files.  Output files are written to the input folder not the output folder.  If that's not a problem this issue can be closed.  Perhaps this is a functionality problem that should become its own issue.

[2015-06-17 22:11] kdahlquist commented on #96
verified and closing

[2015-06-17 22:11] #96 closed

[2015-06-17 22:12] kdahlquist commented on #95
@tessaam needs to create some test cases for the unit tests for this.

[2015-06-17 22:13] kdahlquist commented on #85
confirmed and closing

[2015-06-17 22:13] #85 closed

[2015-06-17 22:24] kdahlquist commented on #106
@bengfitzpatrick is going to change the sum of squares of error for the individual genes to mean squared error so that the values for the different strains can be compared.

[2015-06-17 23:29] trixr4kdz commented on #30
I've uploaded the updated activity diagram to the GRNmap wiki (click [here](https://github.com/kdahlquist/GRNmap/wiki/Activity-Diagram-for-GRNmap) to view it).
I've also made a new wiki page for the list of the global variables [here](https://github.com/kdahlquist/GRNmap/wiki/GRNmap-Global-Variables-List).

[2015-06-17 23:37] trixr4kdz commented on #71
I've implemented the pageview counter to the botton of each page of the GRNmap website and updated the News item about tracking downloads. Still need to implement download counter to the site though (i.e it's being tracked in GA, I just need to modify the page to show how many downloads we have so far)

[2015-06-18 00:04] dondi commented on #71
Yes, sounds good. For downloads, you just have a separate call, with path=downloads (or was it just download? Use whatever you've been pushing for page views), then insert the result in a different element. The upload report at the bottom of the GRNsight home page (http://dondi.github.io/GRNsight/) gives you an example of how that would be done.

[2015-06-18 00:16] trixr4kdz commented on #71
Ok but how will I go about it with the different versions we are tracking? Currently, we are tracking each version with "download/ [version#] _ [executable or source] "

[2015-06-18 00:39] dondi commented on #71
If Google Analytics supports an aggregate query (e.g., all paths starting with downloads) then it is a matter of learning how to invoke that. If they cannot do aggregates then it may be necessary to write a loop that sums up the numbers for each known version.

I need to look at the query interface first then we can decide what to do based on that.

[2015-06-18 02:23] trixr4kdz commented on #71
@dondi I was trying to just make the download counter show up for each of the versions with this snippet
[code]
But it didn't work :( I'm not very familiar with jquery so I'm not quite sure what's wrong. To explain what I was trying to do, since the [version#]_[executable or source] part of the virtual URL that tracks button clicks is the same as the id for that particular downloadable (e.g. versi

[2015-06-18 07:53] dondi commented on #71
OK, first things first, I don't actually see any elements on the downloads page that match `$(".ga-execDownload")` nor `$(".ga-sourceDownload")`. That by itself will keep you from seeing anything.

Make sure you have elements like these on your page. These are the placeholders that will subsequently receive the numbers:

    <span class="ga-execDownload"></span>
    <span class="ga-sourceDownload"

[2015-06-18 08:37] trixr4kdz commented on #71
Oh right I was working on a practice branch that I deleted right away, but I've made the changes so gh-pages should have those classes now. The numbers still aren't popping up even with these though.

To make it clear in the meantime, I believe we want to sum up the executable downloads separately from the source code downloads. In GA, we have them both under "GRNmap/download" and I haven't figure

[2015-06-18 08:42] dondi commented on #71
OK, it will take additional code to get things just right, but for now, just to get numbers in, change these lines in *ga-report.js*:

        var exec = $(this.attr('class')).closest('div[id$="_executable"]').attr('id');
        var source = $(this.attr('class')).closest('div[id$="_source"]').attr('id');

Change them to:

        var exec = $('div[id$="_executable"]').attr('id');
        var sour

[2015-06-18 08:52] trixr4kdz commented on #71
Alright, I've changed the two lines

[2015-06-18 14:04] dondi commented on #71
OK sounds good, now the numbers do show up. Doing it per-version is a little more involved, so I will do that then you can see how it was done when I am finished. Mainly instead of a single `getJSON` call you need to iterate through all the version numbers and make one invocation per item. Then you also sum things up gradually in order to get the overall totals at the end. I'll signal when this is

[2015-06-19 06:35] dondi commented on #72
OK, I’ve updated the specialized JavaScript for the downloads page so that you get per-version counts, plus totals in the end. Remind me to walk you through what I did sometime; consider it a free preview of CMSI 370 :)

[2015-06-19 20:37] trixr4kdz commented on #72
Ok, thanks @dondi. I'll assign it to @kdahlquist so she can check

[2015-06-19 20:41] trixr4kdz commented on #71
@dondi fixed the download counter to sum up the totals for both source code and executables. He also separated the downloads for each version which you can see if you open up one of the sections. The News item from a previous comment has been updated to reflect the changes

[2015-06-19 20:43] trixr4kdz commented on #66
I've updated this page

[2015-06-22 16:42] trixr4kdz commented on #37
@dondi or @bengfitzpatrick  just a quick question, even when I make tests for the individual functions, I basically still have to run the entire program so the new output will overwrite the past output that I'm trying to compare with. Also, that would mean that running all 16 tests will take very long overall. Is there a way to make running the tests faster and not overwrite the testing files or i

[2015-06-22 17:18] trixr4kdz commented on #37
Possible solutions that @kdahlquist proposed to prevent overwriting files (that we will have to implement anyway in the future):
* (This is more likely what we want) append a number to files that have similar names (i.e. if we have a file called 4-genes_6-edges_output.xlsx and we run the program again, we should get 4-genes_6-edges_output(1).xlsx)
* OR open a dialog box to ask user where they want

[2015-06-22 18:41] tessaam commented on #118
There was a MATLAB error when setting estimateParams=0 for P=0 and b=0. There was a .xlsx output, gene plots, and an optimization_diagnostics plot, but no .mat file.
 Reference to non-existent field 'reg_out'.
 Error in output (line 140)
 outputDiag{3,2} = GRNstruct.GRNOutput.reg_out;
 Error in GRNmodel (line 34)
 GRNstruct = output(GRNstruct);

I ran P=0 and b=0 with estimateParams=1 and there wa

[2015-06-22 18:43] GraceJohnson commented on #95
@tessaam Notes for our testing can be found here: http://openwetware.org/wiki/GRNmap_Testing_Report:_Non-1_Initial_Weight_Guesses_2015-05-28

The most useful runs were done with all strains:
initial weights: 0, -1, -3, 3, 10, randomly distributed between -1 and 1, and randomly distributed between -3 and 3

[2015-06-22 19:12] trixr4kdz commented on #118
@bengfitzpatrick The assignment for variable GRNstruct.GRNOutput.reg_out (as well as for GRNstruct.GRNOutput.counter) should be outside of the if statement for if estimateParams is true in the lse.m routine since we would want the penalty_out and counter to be outputted no matter what. I tried running that and it does not throw the error, but the optimization_diagnostics image is a blank page.

[2015-06-22 23:14] tessaam commented on #74
I ran all 16 combinations with alpha = 0.001. MaxIter = 1.00E+06, TolFun = 1.00E-05,  MaxFunEval = 1.00E+06, and TolX =1.00E-05.

I found the following issues:
* When makegraph = 0 MATLAB does not save the optimization_diagnostic jpg.
* When estimateparms = 0  there is no .mat file output and MATLAB shows the error:
   Error in output (line 140)
   outputDiag{3,2} = GRNstruct.GRNOutput.reg_out;

[2015-06-23 02:27] dondi commented on #37
From a general architecture perspective, the ideal solution is to actually intercept the data before they get written out. Unless streaming of some sort is happening, the actual results should be in memory initially, with the writing to a file being a last step. A unit test should be able to receive the data before it is written to a file. This test would verify that the computed data were indeed

[2015-06-23 18:17] trixr4kdz opened #120 "GRNmap SURP 2015 Abstract Title"
I was wondering if this would be a sufficient title to the abstract:

Functionality Improvements and Test-Driven Development Implementation to GRNmap, a Gene Regulatory Network Modeling Application

The people in charge of McNair want we to submit the abstract by noon today so I apologize for it being sudden.

[2015-06-23 18:23] kdahlquist commented on #120
How about this?  I just swapped the two things and removed the word "Implementation".

Test-Driven Development and Functionality Improvements to GRNmap, a Gene Regulatory Network Modeling Application

[2015-06-23 18:27] trixr4kdz commented on #120
Ok, I'll submit it to them now and close this issue

[2015-06-23 18:29] #120 closed

[2015-06-23 20:56] kdahlquist commented on #115
@bengfitzpatrick , sorry I forgot to respond to this.  This was actually by design.  The output folder has the sample output files already packaged in it.  So when the user runs the sample input, they will be saved to the same folder the input files are in and will not overwrite the sample output.  They can then compare their output to the sample provided.

I think we do need to address this issue

[2015-06-23 21:05] kdahlquist commented on #66
I'm going to close this one and open new issues for release notes/about pages for newer versions than 1.0.6

[2015-06-23 21:05] #66 closed

[2015-06-23 21:06] #115 closed

[2015-06-23 21:11] kdahlquist opened #121 "Release v1.2 code and executable at end of SURP 2015"
Let's wrap up SURP 2015 with a release of the code and executable.  I think this should be version 1.2 instead of v1.0.10, we should probably have incremented the middle number one one of the last releases anyway.
* Make sure that the code is in a state that can be merged
* Make sure all of the test files are now compatible with the latest version
 * in particular, the alpha value needs to be chan

[2015-06-23 21:11] #110 closed

[2015-06-23 21:12] #87 closed

[2015-06-25 00:02] kdahlquist commented on #121
Assigned the task of creating ReadMe file to @tessaam .

[2015-06-25 00:12] tessaam commented on #121
@kdahlquist  I created a README file and Trixie packaged it with the executable.

[2015-06-25 00:23] trixr4kdz commented on #121
I have released v1.2 into the world and updated the home page version number, about page release notes, news page, and downloads page for the new release.

@tessaam has tested the executable on the department laptop and it ran successfully.

[2015-09-04 21:32] kdahlquist commented on #79
I like the organization and content.  The last sentence at the bottom of the page needs to be changed slightly:
* It now reads "Source archives have been download 7 times."
* Change to "Source code archives have been downloaded 7 times." adding the word "code" and putting download in the past tense.

Some of the counters did not have values, but I'm assuming that is because they were never downloa

[2015-09-04 21:49] kdahlquist commented on #121
I updated the release notes.  Would you please use these release notes to replace what is currently on the About page?  I included references to issue numbers in the release notes, but do not include them on the About page, only the other text.  Once this has been done and confirmed, this issue can be closed.

[2015-09-04 21:52] kdahlquist commented on #71
confirmed and closing

[2015-09-04 21:52] #71 closed

[2015-09-04 21:53] kdahlquist commented on #72
I think this is done.  Some of the counters on the Downloads page were not registering anything, so I made sure to click on all of them.  I'm going to wait to see that it registers before closing this.

[2015-09-04 22:00] kdahlquist commented on #76
A few more tweaks to this one:
* On the About page, for the phrase "Installing and Running the GRNmap stand-alone executable: " please make the r in "running" lower case.
* Change the section to be "System Requirements and Compatibility" instead of just "Compatibility"

Once you have done that, copy this entire section to the Documentation page.  Right now the Documentation page refers only to the

[2015-09-08 00:14] trixr4kdz opened #122 "McNair Symposium/SACNAS 2015 Conference"
The McNair Symposium is actually going to be held on October 3rd instead of what @trixr4kdz originally thought as the week before the SACNAS Conference. The SACNAS Conference will be held on Oct 29-31 in Washington, DC. @trixr4kdz will be doing a poster presentation about the GRNmap research over the summer. She will need to make a poster and upload it to the "Documents" folder.

[2015-09-08 00:25] juansc opened #123 "Edge case where optimization diagnostic is not created"
If GRNmap takes less than 100 iterations, the optimization_diagnostic figure is never generated. However, the first figure is called 'optimization_diagnostic' by default. So if GRNmap finishes in less than 100 iterations, the first figure that is generated, one of the strains, is called 'optimization diagnostics'. We should change it so that we only label the first figure as 'optimization_diagnost

[2015-09-08 00:32] juansc opened #124 "Toolbox Missing in Computers in UH Lab"
The computers in the Numerical Analysis lab don't all have 2014b installed. The ones we found that has 2014b installed(on the right-hand side of the room, second and third from the right) don't have the optimization toolbox.

[2015-09-08 00:39] juansc opened #125 "People Page Doesn't Work"

[2015-09-08 00:45] trixr4kdz commented on #125
Since @juansc is so annoying that he made an empty issue, I had to fix it.

[2015-09-08 00:45] #125 closed

[2015-09-08 01:06] trixr4kdz commented on #79
Done

[2015-09-08 01:07] trixr4kdz commented on #76
Done

[2015-09-08 01:07] trixr4kdz commented on #121
Where can I find the updated release notes?

[2015-09-08 17:49] kdahlquist commented on #121
Oh, sorry, it is on the releases page here:  https://github.com/kdahlquist/GRNmap/releases.  There is a link for releases across the top of the main code GitHub page.

[2015-09-09 22:43] trixr4kdz commented on #121
Done

[2015-09-09 22:45] kdahlquist commented on #119
Tentatively scheduled for discussion at next meeting on 9/16/15 when hopefully @bengfitzpatrick can be here.

[2015-09-09 22:52] GraceJohnson commented on #7
Bibliography document can be found to download on my Electronic lab notebook on Open Wet Ware: http://openwetware.org/wiki/Katherine_Grace_Johnson_Electronic_Lab_Notebook#September_9.2C_2015

[2015-09-11 02:55] trixr4kdz commented on #123
I've fixed the code so that the 'optimization_diagnostics' is only created when the number of iterations is less than 100.

[2015-09-11 02:56] trixr4kdz commented on #92
This has been fixed.

[2015-09-11 03:04] juansc commented on #93
Fixed please review.

[2015-09-14 20:59] trixr4kdz commented on #122
I've uploaded a draft of my research poster titled Roque - McNair/SACNAS 2015 Poster in the documents folder in master. I've taken some information from the LMU symposium that @juansc and I made.

[2015-09-15 20:42] kdahlquist commented on #72
The downloads have registered, so I am closing this.  Reminder to everyone to download the executable and code from our Downloads page instead of the GitHub page so that we can increase the counters :)

[2015-09-15 20:42] #72 closed

[2015-09-15 20:49] kdahlquist commented on #76
Confirmed and closing.

[2015-09-15 20:49] #76 closed

[2015-09-15 20:51] kdahlquist commented on #79
Confirmed and closing.

[2015-09-15 20:51] #79 closed

[2015-09-15 20:59] kdahlquist commented on #121
Sorry to be a stickler, but the first bullet points of the release notes needs to have a period.  Thanks.

[2015-09-15 22:07] trixr4kdz commented on #121
No worries, it's been updated.

[2015-09-15 22:41] kdahlquist commented on #121
confirmed and closing

[2015-09-15 22:41] #121 closed

[2015-09-15 22:58] kdahlquist opened #126 "convert all files in the test_files folder to .xlsx"
Even though GRNmap accepts both .xls and .xlsx files, we have made it behave so that the open dialog defaults to .xlsx (because of GRNsight).  Thus, I think we also need to convert all the files in the test_files folder to .xlsx as well.  There are some in the data_samples and estimation_tests folder.

[2015-09-15 23:09] kdahlquist commented on #92
Confirmed fixed with the test file 21-genes_50-edges_Dahlquist-data_MM_estimation.xlsx (took the .xls version from test_files > data_samples and Saved As .xlsx)

[2015-09-15 23:09] #92 closed

[2015-09-15 23:29] kdahlquist commented on #123
I need more information on this one, the previous comment by @trixr4kdz does not make sense to me:

"I've fixed the code so that the 'optimization_diagnostics' is only created when the number of iterations is less than 100."

Do you mean that when the number of iterations is *more* than 100?

It seems to me that we might want this figure to be made even if the number of iterations is less than 100

[2015-09-15 23:32] kdahlquist commented on #114
Closing this.

[2015-09-15 23:32] #114 closed

[2015-09-15 23:40] kdahlquist opened #127 "Confirm new normalization script behaves the same for everyone"
I am going to make new issues for the Microarray Data Analysis Workflow at a much finer granularity so we can track where we are with the individual steps.  This issue is based on the e-mail I already sent out to the group today.

I finally was able to modify the OpenWetWare protocol for the normalization of the microarray data.  I apologize for the delay and I understand that you weren't able to

[2015-09-15 23:44] kdahlquist commented on #93
Confirmed fixed with the test file 21-genes_50-edges_Dahlquist-data_MM_estimation.xlsx (took the .xls version from test_files > data_samples and Saved As .xlsx), which I put in a folder called "check space in name" (which was on the Desktop, incidentally.)

[2015-09-15 23:44] #93 closed

[2015-09-16 04:27] trixr4kdz commented on #123
Oh sorry, my bad. It's supposed to say "I've fixed the code so that the 'optimization_diagnostics' is only created when the number of iterations is MORE than 100".

In other words, we thought that since the very first figure saved, which right now is always the "optimization_diagnostics.jpg", isn't created when the number of iterations is less than 100, that we are not going to save "Figure 1" for

[2015-09-16 23:04] kdahlquist commented on #123
We won't output the figure when the  number of iterations is less than 100.  @kdahlquist will verify the filename bug is fixed.  We need to make sure to document for the user not to expect the graph if there is less than 100 iterations.

[2015-09-16 23:08] kdahlquist commented on #116
L-curve has been redone, but the driver script is not ready.

[2015-09-16 23:09] kdahlquist commented on #106
still open.

[2015-09-16 23:10] kdahlquist commented on #105
@bengfitzpatrick needs to look at this.

[2015-09-16 23:14] kdahlquist commented on #91
@juansc will put this on the wiki and then will close this.

[2015-09-16 23:17] juansc commented on #91
Done. The page is called [Resource for Working with Excel Files When Using MATLAB](https://github.com/kdahlquist/GRNmap/wiki/Resource-for-Working-with-Excel-Files-When-Using-MATLAB).

[2015-09-16 23:17] #91 closed

[2015-09-17 05:55] kdahlquist commented on #127
I just compared the normalization files that @Nwilli31 and @GraceJohnson sent me via LionShare to the ones I generated myself yesterday with the same scripts.  I got zero differences, even with the unrounded data.  I propose that when @tessaam , @khorstmann , and @kjacks48 do their normalization that they send their files (via Lionshare) to both me and @Nwilli31 and @GraceJohnson.

If @Nwilli31 an

[2015-09-17 06:02] kdahlquist commented on #10
I bumped this one down a notch because we are not working on this this week.  We will need to review the results from SURP 2015 to decide whether to close this issue or whether it needs new work.  Since the current priority 0 is to work on crunching the array data with the new normalization, we will get to this later.  It merits discussion at a future lab meeting.

[2015-09-17 06:05] kdahlquist commented on #124
This has become somewhat moot since the students now have access to S120 and @kdahlquist's research lab.  I'm bumping the priority down.

[2015-09-18 01:46] trixr4kdz opened #128 "Research Lab computer Cerevisiae does not have Matlab 2014b"
@juansc and I tried to use the computers in the research lab but only paradoxus had Matlab 2014b.

[2015-09-18 02:29] juansc commented on #52
The code already satisfies the first of the two:

1. We want the code to figure out which expression data belongs to which strain, based on the name of the strain, not the order of the worksheet in the workbook. Currently, in the optimization_parameters worksheet, the user specifies the order of the worksheet.

[2015-09-18 04:43] trixr4kdz opened #129 "New naming convention has been implemented but the test files still have the old names"
The new naming convention from the 09/16/15 meeting has been implemented. The test spreadsheets should then be updated to reflect the changes.

[2015-09-18 17:21] kdahlquist commented on #128
Sorry, I'll take care of that today and post to this issue when it is done.

At 06:46 PM 9/17/2015, you wrote:

[2015-09-18 23:55] kdahlquist commented on #128
I installed Matlab and the compiler on that computer.  The next time you come in, try the compiler to make sure it works and I don't need to install anything else.

[2015-09-21 05:06] kdahlquist commented on #129
Actually, I thought we were utilizing test-driven development now.  @dondi can correct me if I'm wrong, but the proper procedure would be to write the test, fail the test, fix the code to pass the test, write another test, etc., instead of just fixing the code and writing the test afterward.  Thus, I think it is the job of our developers to create the test input workbooks, write the tests, and the

[2015-09-21 05:08] kdahlquist commented on #52
See my note about test-driven development on issue #129 . If you haven't already, write the test *before* doing any coding, fail the test, then fix the code to pass the test.

[2015-09-21 05:09] kdahlquist commented on #119
See note on issue #129 about test-driven development.

[2015-09-21 07:15] kdahlquist opened #130 "organize data files for submission to GEO/ArrayExpress"
@tessaam , I want to get your assistance with organizing the microarray data files for submission to the public databases GEO/ArrayExpress.  I think we will need to meet outside of the regularly scheduled GRNmap meeting time to go over details.

[2015-09-21 13:51] dondi commented on #129
Yes, for future reference, to keep with the discipline of TDD, the order of activities should have been, *on a test by test basis*: (a) change the test code to reflect the new names first, (b) run the tests to see that they fail, then (c) rename the files so that the tests pass again. Just like physical routines we we have to consciously go through the moves initially (e.g., a tennis stroke, a gol

[2015-09-21 13:52] dondi commented on #119
…with accompanying follow-up comment :)

[2015-09-21 13:55] dondi commented on #52
In the earlier comment about the code already satisfying condition 1, can the unit tests for that be identified? If they exist, were they written before the behavior was implemented? If the answer to either these is “no,” then that was not TDD-compliant. Stick to the discipline of TDD. Watch more Uncle Bob videos if you need inspiration. @trixr4kdz has already figured out the framework in MATLAB s

[2015-09-23 04:23] tessaam commented on #126
Files in data_samples and estimation_tests folders have been converted into .xlsx.
http://openwetware.org/wiki/Tessa_A._Morris_Electronic_Lab_Notebook_2015-2016

[2015-09-23 16:00] bengfitzpatrick commented on #116
L curve driver is now available. Tested on the master branch.  Needs an actual test design: we are out-of-order on TDD of this.  Bugs may exist -- beware. In particular check where the result is being written!!! Testing needs to include the fix_b and fix_P parameters.  Functionality improvements are needed too. The code uses a vector of alpha's specified in the code, and it produces an array in .m

[2015-09-23 16:03] bengfitzpatrick opened #131 "Undefined function or variable 'simulation_timepoints' -- error in beta"
In developing the L Curve code, I had to use the current master branch.  The beta branch (downloaded 8pm PDT 2015 Sep 22) fails with the error

Undefined function or variable 'simulation_timepoints'.

Error in readInputSheet (line 84)
GRNstruct.controlParams.simulation_timepoints        = simulation_timepoints;

Error in GRNmodel (line 30)
GRNstruct = readInputSheet(GRNstruct);

------
I'm assumin

[2015-09-23 18:07] kdahlquist commented on #116
I just committed the code from @bengfitzpatrick on a new branch called "L-curve"

[2015-09-23 19:36] trixr4kdz commented on #129
Ok, in that case, I think it might be best if I checkout the commit before I made any changes since it would seem that @bengfitzpatrick and @juansc are working in beta and are receiving errors from the changed names. I will continue with adapting the naming convention in test_suite branch and will merge when done.

[2015-09-23 19:42] kdahlquist commented on #126
verified that these changes have taken place on the beta branch.

[2015-09-23 19:42] #126 closed

[2015-09-23 19:59] kdahlquist commented on #20
this is a duplicate of #106, so I'm closing this one.

[2015-09-23 19:59] #20 closed

[2015-09-23 20:06] kdahlquist commented on #122
@trixr4kdz , I've had a chance to review your poster.  Here is my feedback:

* remove the abstract
* move the activity diagram to either the middle or bottom of the poster
* you need to introduce GRNmap and what it does more graphically.  You should include the equations, a network diagram, and the flow chart that you used to put it in context from your final McNair presentation for the summer.
*

[2015-09-23 20:07] trixr4kdz commented on #131
Per the meeting from last week, the new naming convention was implemented so the variable names in the optimization parameters worksheet would have to be changed (i.e. simtime would be called simulation_timepoints). However, I've decided to move my previous changes into a different branch and will work on that one separately from beta.

[2015-09-23 20:17] kdahlquist commented on #123
Verified fixed on the beta branch with the file mentioned above (from the beta branch).  Am closing.

[2015-09-23 20:17] #123 closed

[2015-09-23 20:24] kdahlquist commented on #74
@tessaam reported some bugs in this issue that she discovered when running all 16 test files.  @tessaam , would you please verify that these bugs still exist and then create separate issues for them?  When you report the issue, be specific as to which branch of the code you used and which specific test file causes the bug.

Once you have broken these bugs out as separate issues, we will close this

[2015-09-23 20:30] kdahlquist commented on #37
We will verify at the meeting today whether or not we can close this issue.  It seems that we need to open separate issues dealing with @dondi 's comments:
* having the testing suite intercept the data before it is written, or
* creating a temporary file
* appending a number to successive versions of an output file so that the last file doesn't get overwritten (this latter one is definitely an iss

[2015-09-23 22:35] kdahlquist commented on #104
I am going to close this; if people discover they can't access the room and need to, then we will open another issue about it.

[2015-09-23 22:35] #104 closed

[2015-09-23 22:49] juansc opened #132 "optimization_diagnostic figure must be saved every time."
This issue came up in #74. The specific post is [here](https://github.com/kdahlquist/GRNmap/issues/74#issuecomment-114299158).We would like to add the following functionality:

The optimization_diagnostic figure will be saved as a .jpg every time GRNmap is run, even if the plots for the strains are not being generated. Currently, GRNmap does not save the optimization_diagnostic figure if makegraph

[2015-09-23 22:53] juansc opened #133 ".mat file is not being generated"
This issue was mentioned in #74.

When estimateparms = 0 there is no .mat file output and MATLAB shows the error: Error in output (line 140) outputDiag{3,2} = GRNstruct.GRNOutput.reg_out; Error in GRNmodel (line 34) GRNstruct = output(GRNstruct);

[2015-09-23 23:00] trixr4kdz opened #134 "@trixr4kdz will look into setUp and tearDown methods in the matlab framework so that GRNmap will need to only run once per test file"
Right now, the current testing framework runs GRNmap every time it does each unit test. This is obviously highly inefficient. @trixr4kdz will look into the setUp and tearDown methods so that for each test file (e.g. when optimization parameters fix_b = 0, fix_p = 0), the program will only run once and then compare each unit test within that run.

[2015-09-23 23:05] trixr4kdz commented on #122
We will need to shoot for Monday for a new version of the poster so we can print it by Thursday.

[2015-09-23 23:05] juansc commented on #52
As of now the beta code does not need the Sheet row. I implemented the code to allow GRNmap to detect which gene gets deleted based on the name. However, the values in the output sheet differ in the fourth and fifth decimal place. While we don't typically care about that level of accuracy, I am not sure whether this is an indication that something else is going on.

[2015-09-23 23:10] trixr4kdz opened #135 "Append successive numbers to the output files with the same names"
Since we don't want the output files to be overwritten when the same excel file is run, we need to attach numbers to the end of the output file names.

[2015-09-23 23:14] trixr4kdz opened #136 "Decide on whether to intercept result before it is written into the output file or create a temp file for comparing outputs in the testing framework"
Right now, the testing framework is not testing whether the actual values outputted by GRNmap are correct or not since @trixr4kdz still needs to figure out whether to intercept the results or write them out into temporary files so that the original output files are not overwritten. @trixr4kdz will have to decide which method to use.

[2015-09-23 23:16] trixr4kdz commented on #37
The items listed in the comment above are now separated into different issues. See #135 and #136. Also, #134 describes using setUp and tearDown methods for more efficient test runs.

[2015-09-23 23:23] kdahlquist opened #137 "Within-Strain ANOVA for wt, Spar, and each deletion strain"
Assignments of strains to people:
Kevin Wyllie, Monica Hong: dHAP4, dSWI4
@tessaam: dGLN3, dCIN5, dHAP4
@khorstmann: dZAP1, dGLN3, dSWI4
@kjacks48: dZAP1, dCIN5, wt
@Nwilli31: Spar, wt, dHMO1
@GraceJohnson : Spar, wt, dHMO1

Once the normalization has been confirmed to be the same for all #127 , everyone should do the within-strain normalization procedure on their assigned strains.

Everyone with

[2015-09-24 06:04] trixr4kdz commented on #122
I've uploaded the newest revision of the poster in both .pdf and .pptx format

[2015-09-24 17:11] kdahlquist commented on #37
Since the individual issues are now broken out, we are going to close this issue.

[2015-09-24 17:11] #37 closed

[2015-09-24 17:13] kdahlquist commented on #52
Just to add another note from the meeting.  @tessaam said that when we compared runs with two input files that were identical except for being .xls and .xlsx, the maximum difference that we saw was in the 6th decimal place.  So, empirically that is our benchmark for the amount of difference we will tolerate.

[2015-09-24 17:15] kdahlquist commented on #74
As this is now broken out into two issues #132 and #133, we are going to close this one.

[2015-09-24 17:15] #74 closed

[2015-09-24 17:16] kdahlquist commented on #116
@bengfitzpatrick is going to suspend work on this for the next week while we are sorting out the variable names (#119, #129).

[2015-09-24 17:18] kdahlquist commented on #137
@bengfitzpatrick is working on the corresponding MATLAB script this week so that we can compare results next week.

[2015-09-24 17:20] kdahlquist commented on #106
@bengfitzpatrick is working on this, this week.

[2015-09-24 17:31] trixr4kdz commented on #116
Actually, the change to the variable names have been reverted back so beta now has the original names from the last version. I moved the commit for the changed variable names to a different branch so it's safe to run beta now.

[2015-09-24 17:38] kdahlquist commented on #122
I just downloaded your latest version and will try to get some comments back to you by tomorrow.

I just realized that you were uploading these files to the master branch.  In terms of process, we should never be committing new changes to the master branch--it should always remain pristine--all new work, even posters and documentation that don't really affect the code, should be pushed to a branch

[2015-09-24 17:44] trixr4kdz commented on #122
Ok, I just moved them.

[2015-09-25 21:18] kdahlquist commented on #127
I heard from @khorstmann this morning that you guys have been working on this.  Can you each give me an update as to your status?  I'm particularly interested in knowing if the files are matching at this point.  @khorstmann said that hers wasn't, but are the rest of yours matching?  Thanks.

[2015-09-25 22:44] GraceJohnson commented on #127
Natalie determined that there was zero difference between our compiled normalized data file (NW_GJ) and the files from Tessa, Monica, and Kayla. As @khorstmann mentioned, her file resulted in differences out to the third decimal place.

[2015-09-26 01:09] trixr4kdz commented on #128
@juansc and I have confirmed that the Matlab compiler has been installed in the computers in the research lab so I'm closing this issue.

[2015-09-26 01:09] #128 closed

[2015-09-28 21:00] kdahlquist commented on #127
Did anyone have a chance to check Monica's file?  Also, differences in the third decimal place are too close for comfort.  Did @khorstmann have a chance to redo?

[2015-09-28 21:29] kdahlquist commented on #122
I'm going to write up the feedback to your poster here.  So that I don't lose my changes, I am going to save the comment quite frequently and then go back and edit the same comment so that all of the changes are in the same comment.  I don't think that it will generate a new e-mail every time I edit the comment, so you will need to view it on GitHub in order to see it all.

* I like the overall la

[2015-09-28 22:02] kdahlquist opened #138 "Meet in Seaver 120 on Wednesday, September 30, 3:30 PM"
I've moved our meeting to Seaver 120 for this coming Wednesday, September 30 at 3:30.  @dondi will be working on writing tests with @juansc and @trixr4kdz.  @kdahlquist will work with the data analysis team to review the stats.

[2015-09-28 22:19] khorstmann commented on #127
I went into the lab to work on redoing the R run, but when attempting to move the files into the correct pathways, the computer would crash whenever I would right click, so I was unable to unzip the limma folder into the R directory... Should I just move on to the statistical analysis and ANOVA with Grace and Natalie's data?

[2015-09-30 17:54] kdahlquist commented on #138
Reminder that we are meeting in Seaver 120 today.

[2015-09-30 22:44] trixr4kdz commented on #122
I've updated the poster in the beta branch

[2015-09-30 23:13] juansc opened #139 "Fix Existing Test Suite"
Recent changes in the code did not follow TDD. The output files need to be updated to fit the latest changes. We have to take care of the following list of tests:

* readInputSheetTest/testReadInputs
* readInputSheetTets/testSimTime
* outputTest/testOutputSheetsExist
* outputTest/testSigmaValues
* outputTest/testSimTime
* outputTest/testLSE
* outputTest/testGraphs

Note: This issue might be divide

[2015-10-01 00:01] juansc commented on #133
The file that was initially tested is 22-genes_47-edges_Dahlquist-data_Sigmoidal_forward_graph.xlsx. We need to create a minimal version of this file which creates the same problem.

[2015-10-01 02:00] kdahlquist commented on #122
I can look at it later tonight.

Kam D. Dahlquist, Ph.D.
Associate Professor of Biology
Loyola Marymount University
http://myweb.lmu.edu/kdahlqui

-------- Original message --------
From: Trixie Roque <notifications@github.com>
Date:09/30/2015  3:44 PM  (GMT-08:00)
To: kdahlquist/GRNmap <GRNmap@noreply.github.com>
Cc: Kam Dahlquist <kdahlquist@lmu.edu>
Subject: Re: [GRNmap] McNair Symposium/SACNAS

[2015-10-01 05:25] kdahlquist commented on #122
Its looking good.  I have a couple minor comments after which it will be ready to print:
* The title for the top left section should read: "GRNmap uses ODEs to Model Gene Regulatory Networks"
* The title for the top middle section should read: "GRNmap Uses Data Provided by Our Interdisciplinary Research Group"
* You should go through one more time and make sure that all sentences have periods and

[2015-10-01 17:56] kdahlquist opened #140 "News Flash! Bulletin of Mathematical Biology article published online!"
Our article has been published online!  Would you please make updates to the Publications page and News pages as follows:

Publications page
* We should implement collapsible sections on this page in this order:  Papers, Presentations, Posters.  Have it automatically open to the Papers section.
* The text for the Papers section should be as follows:

September 29, 2015
Dahlquist, K.D., Fitzpatrick

[2015-10-01 22:42] kdahlquist opened #141 "Add Kristen and Kayla to the People page"
I forgot that we should add Kristen and Kayla to the People page on the web site.  Please add them in alphabetical order (by last name) under Current Research Assistants as follows:

Kristen Horstmann (LMU Biomathematics '17) Fall 2015 - present
Kayla Jackson (Spelman College Mathematics '17) Fall 2015 - present

[2015-10-04 04:43] trixr4kdz commented on #139
test_suite has been fixed so the above tests now pass except for testGraphs. testGraphs will pass if make_graphs = 1, but fails when make_graphs = 0. I created this part of the test with the thought that I should run the "graphs" routine instead of the "output.m" routine since the "output.m" routine would just override the outputs that have the same name in the that folder. For now, I would sugges

[2015-10-04 05:16] trixr4kdz commented on #139
I'm retracting my previous comment to modify the output sheet names since I have made it so the outputs generated during the tests are placed in the temporary folder. Will continue to work on this at a later time.

[2015-10-04 05:36] trixr4kdz commented on #136
While working on fixing issue #139, I've decided to write results into temporary folders since it is much easier to do than the alternative.

[2015-10-04 06:29] trixr4kdz commented on #140
Done updating News and Publications pages.

[2015-10-04 06:30] trixr4kdz commented on #141
Added Kristen and Kayla

[2015-10-07 04:24] bengfitzpatrick commented on #4
I have edited the wiki, adding a definition of the penalty and tweaking language here and there. Modulo checking my work and sheet naming, this issue is ready to close

[2015-10-07 04:25] bengfitzpatrick commented on #118
fixed this. ready for testing once I get the code uploaded.

[2015-10-07 15:02] bengfitzpatrick commented on #106
fixed this: SSE is now mean square error. ready for testing once the code is uploaded. L-curve branch transmitted to @kdahlquist

[2015-10-07 15:02] bengfitzpatrick commented on #86
fixed this. ready for testing once the code is uploaded. L-curve branch transmitted to @kdahlquist

[2015-10-07 18:04] kdahlquist opened #142 "Meet in Doolan Keck Lab Annex today 10/7 at 3:30"
Sorry, I forgot to send an e-mail sooner--we're back to meeting in the Keck lab today in Doolan.  See you there.

[2015-10-07 22:31] #142 closed

[2015-10-07 22:31] #138 closed

[2015-10-07 22:41] juansc commented on #139
We have changed the tests so they are up to date. We should close this issue since other, more specific aspects of testing can have their own issue.

[2015-10-07 22:44] juansc commented on #133
We will test with the problem file.

[2015-10-07 22:46] trixr4kdz commented on #122
McNair Symposium went well! Question I have for later though, since I already have a printed poster, should I just use that for the SACNAS conference at the end of the month, or would you like to look at it some more and see it there is anything you would like to change?

[2015-10-07 22:48] juansc commented on #132
To generate the `optimization_diagnostic` we will have to duplicate the code in `general_least_squares_error` that generates the figure and run it in `lse` after the forward simulation is finished.

[2015-10-07 23:25] GraceJohnson commented on #137
Confirmed no difference in sanity check numbers for all strains except SWI4 and HAP4. @tessaam will perform Within strain ANOVA for SWI4 and @GraceJohnson will do the same for HAP4.

[2015-10-07 23:55] kdahlquist commented on #122
Let's see how things go.  If I have time to look at it again and give you feedback in enough time before you leave, maybe we'll change some things.  However, the way things are looking, I may not get to it, so we'll just go with the one you have.  Remind me again at out meeting next week and I'll be able to give you a firmer answer.

[2015-10-07 23:58] kdahlquist commented on #137
Can you guys annotate this issue with links to your respective electronic lab notebook pages where the work is documented?  Also, something was mentioned at the meeting about differences between calculations in a certain number of decimal places.  Please document that here.

In the next week, @kdahlquist will look at the protocol on the OpenWetWare wiki page and make sure that it correctly deals w

[2015-10-08 00:02] kdahlquist commented on #73
@bengfitzpatrick is going to look at the within-strain ANOVA code to check for accuracy and with a view towards implementing this.

[2015-10-08 00:07] kdahlquist opened #143 "Feed within-strain ANOVA results into YEASTRACT and generate hypothesis networks"
This week the data analysis team will do the following:
* For each strain, plug the list of genes that are B-H p < 0.05 into YEASTRACT to determine which transcription factors are enriched among that set of genes.  Be careful to document the date when you retrieved the data and, if you can, the date at which YEASTRACT data was last modified.  Save all of the results into a spreadsheet.
* From thes

[2015-10-08 00:08] kdahlquist commented on #141
confirmed

[2015-10-08 00:08] #141 closed

[2015-10-08 00:11] kdahlquist commented on #140
Looks good!

[2015-10-08 00:11] #140 closed

[2015-10-08 01:26] GraceJohnson commented on #137
My page can be found here: http://openwetware.org/wiki/Katherine_Grace_Johnson_Electronic_Lab_Notebook#September_23.2C_2015
Differences were found in the Excel calculations for sum of squares, F-stat, and p-values.
- For wt, differences found in sixth decimal place
- For Spar, differences found in seventh decimal place
- For ZAP1, just the Fstat column had difference in the ninth decimal place

[2015-10-08 05:17] khorstmann commented on #137
SWI4 has been corrected and I updated the comparative data onto the Google doc

[2015-10-09 18:00] tessaam commented on #137
I did the analysis for SWI4. My numbers did not match @khorstmann's. Can @GraceJohnson, @Nwilli31, or @kjacks48 do it too so we can have a third comparison?

[2015-10-09 19:42] GraceJohnson commented on #137
Zero difference was found in the dHAP4 strain when compared to data from @tessaam .

[2015-10-11 00:37] juansc opened #144 "Idea for outputting files so that files are not overwritten with successive runs"
We are currently placing all the output files associated with a certain excel sheet in the same directory as the original sheet. I propose creating a new subdirectory for each run and storing all output files there.

Currently, if our directory is `mydir` and our spreadsheet is called mysheet.xlsx, after a run our directory will look like this:
- mydir
  - mysheet.xlsx
  - mysheet_output.xlsx
  -

[2015-10-11 01:00] juansc commented on #132
Please review.

[2015-10-11 01:08] juansc commented on #133
We tested it and we don't see the error any more. Please review.

[2015-10-11 02:18] trixr4kdz opened #145 "Possible solution to when estimate_params = 0 issue"
Previously, if estimate_params = 0, reg_out and counter are not assigned. To fix this, we assign reg_out = NaN and counter = 0 since we are not estimating anything.

[2015-10-11 02:21] trixr4kdz commented on #129
We have recently merged test_suite and beta and all the tests (we have 25 so far) are now passing, except for one about a fix mentioned in issue #145. I am now deleting test_suite since it is now even with beta.

[2015-10-11 02:45] trixr4kdz commented on #119
The code has been modified to adopt the new naming convention as seen in the wiki page: https://github.com/kdahlquist/GRNmap/wiki/New-Naming-Convention except for the part about the `Sigmoid` / `Model` parameter. The code right now is still relying on the user to enter either a 1 or 0 instead of "Sigmoid" or "MM" .

[2015-10-14 03:18] trixr4kdz opened #146 "Slight discrepancy when running the code on different computers (Math dept. vs. Seaver lab)"
I recently ran the code on both the math department computers and Seaver lab computers and found out that when the code is run in the math department, the calculations are off up to the 4th decimal place. Since the test files originated in Seaver, there were no differences when comparing the test files to what GRNmap actually outputs at the moment. A possible cause would be the system specificatio

[2015-10-14 03:56] trixr4kdz commented on #146
Additionally, the files that failed the most tests on the current testing framework (only 19 out of 25 passed) are:

- 4-genes_6-edges_artificial-data_Sigmoidal_estimation_fixb-0_fixP-0_graph.xlsx
- 4-genes_6-edges_artificial-data_Sigmoidal_estimation_fixb-0_fixP-0_no-graph.xlsx

since the tests only account for a difference of up to the 6th decimal place.

[2015-10-14 06:13] kdahlquist commented on #146
It seems like we really need an answer to what is our tolerance for differences in output.  I am going to reassign this to @bengfitzpatrick for an answer.

[2015-10-14 07:01] trixr4kdz commented on #119
I've changed the optimization parameter "Sigmoid" into "Model" (with accompanying tests) so that the user can enter either "MM" or "Sigmoid" (case insensitive) instead of "0" and "1".

[2015-10-14 17:24] bengfitzpatrick commented on #146
After sifting through matlab/stackexchange/etc for a bit, this appears to be a relatively common problem. Hardware/OS differences can apparently have some impact on fmincon. We need to find some reasonable resolution.
(1) What are TolX and TolFun (set in the input sheet optimization_parameters) currently?
(2) We need to do some exploratory runs.  Create a few input sheets (say 30) whose initial gu

[2015-10-14 17:34] bengfitzpatrick commented on #146
okay, i'm looking at the files you mention.  fix-b-0 and fix-P-0 will almost certainly fail this test. Those examples are in the mix precisely because they are so unstable.

[2015-10-14 17:36] bengfitzpatrick commented on #145
is the lse_out assigned?  If so, reg_out should be assigned as well.

[2015-10-14 21:46] kdahlquist commented on #144
Let's have some discussion about this at the meeting today.  I'd also like to hear what @bengfitzpatrick and @dondi say about this.

If we implement this, then you would still need to deal with the problem of successive runs over-writing files, but just at the directory level (issue #135).  Would you call the new directory "mysheet_output1", etc.?

[2015-10-14 21:49] kdahlquist commented on #136
Question: do you delete your temporary files/folders when  you are done with them?  That's a nice feature to have so you are not cluttering your hard drive with a bunch of test results you don't need anymore.

[2015-10-14 21:51] kdahlquist commented on #139
We'll review this and close it at the meeting--I just want to make sure that any further tasks are indeed broken out into their own issues.

[2015-10-14 21:55] kdahlquist commented on #131
I think we can close this.  We'll open another issue about merging the L-curve and beta branches and dealing with the changes caused by renaming the variables.

[2015-10-14 21:55] #131 closed

[2015-10-14 22:50] juansc commented on #144
Two other possible solutions:
* Have a save dialog to decide the directory
* There are some command line options to specify to save the output to a given location.

[2015-10-14 23:04] trixr4kdz commented on #136
I will need to modify the test framework to delete the files when we're done running the tests

[2015-10-14 23:04] kdahlquist commented on #129
All test files will need to be changed to the new convention.

[2015-10-14 23:09] #139 closed

[2015-10-14 23:10] trixr4kdz commented on #146
To answer your first question, the TolX = TolFun = 1.00E-05

[2015-10-19 21:38] kdahlquist commented on #146
@dondi suggests separating out whether it is Excel that is the issue or whether it is MATLAB by setting up a test where the values are sent directly to MATLAB without reading an input sheet.

[2015-10-19 21:39] kdahlquist opened #147 "Meeting on 10/21 is on: @bengfitzpatrick will lead it in Doolan 222"
The Wednesday meeting on 10/21 at 3:30 in Doolan 222 is a go.  @bengfitzpatrick will lead the meeting in @kdahlquist's absence.

[2015-10-21 21:36] trixr4kdz commented on #129
All the tests in the test_files folder have been changed for the new naming convention. However, I think that some of them have outdated sheets (e.g. some files don't have the production rates, sigmas, etc. worksheets when they are supposed to since these were created before the bug fixes were done).

[2015-10-21 21:38] trixr4kdz commented on #136
Done modifying the test framework to delete all temp files when done running the tests.

[2015-10-21 22:42] #147 closed

[2015-10-21 22:49] bengfitzpatrick commented on #146
run the fix_b = fix_P = 1, 4 gene 6 weight test with varying initial guess weights on Seaver and Math computers to see the variability in optimized weights.

[2015-10-21 22:52] Nwilli31 commented on #127
@kdahlquist, should we retest this step or revisit it, so that we can close this issue? To move forward with confidence, I think that we should figure out why the discrepancy existed - whether it was the software version used or the computer. Both Monica and @khorstmann had varying numbers than the majority of us, which could prove to be an issue in the future when others decide to run the R scrip

[2015-10-21 22:53] bengfitzpatrick opened #148 "merge L curve and beta branch"
Compare each m-file for functionality and bug fixes.

[2015-10-21 22:55] Nwilli31 commented on #143
@kdahlquist, I have a question regarding how to pare down the network. I used the p-values given from YEASTRACT; however, @tessaam used the p-values from the ANOVA. Which method is correct in paring down the network?

[2015-10-21 23:03] bengfitzpatrick commented on #143
s. paradoxus, SWI4, HMO1, are stricken from the record. We shall no longer speak of them.

[2015-10-21 23:03] bengfitzpatrick commented on #137
Natalie will solve all our problems (meaning check the SWI4)

[2015-10-21 23:06] #118 closed

[2015-10-21 23:06] bengfitzpatrick commented on #118
merge L-curve and beta is new issue

[2015-10-21 23:07] bengfitzpatrick commented on #116
merge beta and L-curve branches new issue

[2015-10-21 23:07] #116 closed

[2015-10-21 23:08] #95 closed

[2015-10-21 23:09] bengfitzpatrick commented on #95
natalie doesn't understand why this is open, so we closed it.

[2015-10-21 23:09] bengfitzpatrick commented on #86
merge of beta and L-curve closes this.

[2015-10-21 23:09] #86 closed

[2015-10-21 23:11] juansc commented on #52
The code is now capable of finding the right row to delete.

[2015-10-21 23:12] bengfitzpatrick commented on #6
this one closed up awhile back when we were looking elsewhere.

[2015-10-21 23:12] #6 closed

[2015-10-21 23:35] kdahlquist commented on #127
It is OK to close this now.   I have been down this rabbit hole before and I do not want to spend time on this right now.  Because there was a match between my run and that of multiple members of the group, I am satisfied for now.  We can reopen this in the future if we want to do further investigations.  The main thing was that we are all working from a common set of normalized data.

[2015-10-21 23:35] #127 closed

[2015-10-21 23:38] kdahlquist commented on #137
@Nwilli31 , can you contact Kevin Wyllie and get his data and check it?  He did Hap4 and Swi4 on Monday.

[2015-10-21 23:46] kdahlquist commented on #143
When I talked about it last week, I meant the YEASTRACT p values.  I had not even thought of using the ANOVA because it is probably the case that not all of the TFs are significant in the ANOVA.  I think for the sake of consistency we should standardize on the YEASTRACT.

[2015-10-23 17:51] kdahlquist opened #149 "New article to read on pathway modeling in yeast"
This paper just came out and should be of broad interest to our group.

Hou, J., Acharya, L., Zhu, D., & Cheng, J. (2015). An overview of bioinformatics methods for modeling biological pathways in yeast. Briefings in Functional Genomics, elv040.
http://bfg.oxfordjournals.org/content/early/2015/10/16/bfgp.elv040

[2015-10-24 21:45] juansc opened #150 "Removing More Global Variables"
The main reason we resort to using global variables is that we need several data structures and parameters when we optimize using fmincon. I found a couple of pages([stack overflow](http://stackoverflow.com/questions/18946407/passing-arguments-to-objective-function-fmincon-matlab), [mathworks](http://www.mathworks.com/help/optim/ug/passing-extra-parameters.html)) that provide a method for passing

[2015-10-28 06:16] trixr4kdz commented on #148
Merged L-curve into beta. However, when running the tests, it would seem that the actual output are off by a decimal place from what was expected. These are most prominent when testing the optimization diagnostics (e.g., if expected output is 4.5678, then actual output is 0.4567; this seems to be the case for all values in optimization diagnostics sheet). Also, although small differences are expec

[2015-10-28 06:34] trixr4kdz commented on #148
Also, where exactly would we want the *.mat file to be written? Right now, the overall *.mat files are saved just outside of the folder where the input sheet is located.

[2015-10-28 07:04] trixr4kdz commented on #146
I made the perturbations and placed the files in the test_files folder under "perturbation_tests". I also run the code on both Seaver and Math Dept. computers, but I have yet to look through the results.

[2015-10-28 17:09] bengfitzpatrick commented on #148
trixie, i would like you to take a look at the code to see where this difference might arise.  The L-Curve branch included not only the L-curve driver routine but also a number of bug fixes.  Doing some code diffs between the two branches might illuminate the discrepancies. I'm reassigning this back to you ;-)

[2015-10-28 21:58] kdahlquist opened #151 "Experimental Biology Abstracts and travel requests"
The abstracts for the Experimental Biology meeting are due Next Thursday, November 5.  The conference is being held in San Diego on April 2 (Saturday) through April 6 (Wednesday) 2016.  I would like our group to submit abstracts as follows:
* Monica, Kevin, Kevin: wet lab stuff
* @Nwilli31 , @GraceJohnson
* @tessaam , @khorstmann , @kjacks48
* @NAnguiano , @anuvarsh , @mihirsamdarshi (GRNsight)
I

[2015-10-28 22:59] juansc commented on #148
Notes from the meeting: In the future, when reporting errors or problems for other people, we should report how to reproduce the error. We should report the version of the code, i.e. the branch, the commit, the input sheet, and all necessary information to recreate the bug. We should also be able to document the errors more precisely by stating the values that have changed, how they changed so tha

[2015-10-28 23:36] Nwilli31 commented on #7
Look at the supplementary data of the Wang (2002 http://www-genome.stanford.edu/turnover/data.shtml) and the Shalem (2008 http://msb.embopress.org/content/4/1/4) paper for the degradation & the production rates.

Will we get values for all the transcription factors, because there is always the potential of missing data?

Attempt to sort out the data. Hopefully, the values with agree with each othe

[2015-11-04 23:59] juansc opened #152 "Install Git in Seaver 120"
We need to install [git for windows](https://git-scm.com/download/win) on all computers in Seaver 120.

[2015-11-05 20:30] trixr4kdz commented on #146
The perturbation tests have been made in the beta branch under the "test_files/perturbation_tests" folder. I have created 4 other folders within it to separate runs between the math dept. and Seaver lab and between pre- and post-merging the L-curve branch (i.e., there should be 4 different folders each with 30 different initial weight values + their corresponding outputs called "math_post_L-curve"

[2015-11-08 22:59] GraceJohnson commented on #7
Half lives from the Wang paper extracted using Microsoft Access and compiled into an Excel sheet named "Wang_halflife_TF.xlsx" available on this page: http://openwetware.org/wiki/Katherine_Grace_Johnson_Electronic_Lab_Notebook#November_4.2C_2015.
Reference list of the 203 transcription factors was from the Harbison list given in the Belle Excel sheet by @kdahlquist. For the Wang paper, two replica

[2015-11-11 17:47] juansc commented on #148
After reviewing the code and looking for obvious bugs and cleaning up the code, I have decided to branch off of beta and make a new branch where we can debug the code. I am compiling a list of errors so we can check all the files that fail and debug them.

[2015-11-11 18:18] juansc commented on #148
Most of these tests fail because there is a relative error with an order of magnitude somewhere between 10^-6 to 10^-3. The sheet that is always of by a factor of 10 or 100 is the optimization diagnostic sheet. NONE of the sheets pass the optimization diagnostic test.

[2015-11-11 22:47] trixr4kdz commented on #148
The previous code, before the merge, contained this code:

[code]

After the merge, the only difference in calculations is that the SSE is being divided by the nSE in the following snippet:
[code]

[2015-11-16 19:40] kdahlquist commented on #152
I just put in the request to IT.  (Sorry for the delay).  I'll comment again when it has been done.

[2015-11-16 19:55] kdahlquist opened #153 "Scheduling research meeting for Spring 2016"
We will need to start thinking about a mutually-agreeable time to schedule our research meetings for the Spring semester.  The times that I _know_ that we won't be meeting are the times that I am myself in class which are:

Monday 1:10-5:00
Wednesday 1:10-5:00
Thursday 4:20-6:20

As you are working out your class schedules, if you have choices that would put you in class at the same time as me, th

[2015-11-18 08:33] trixr4kdz opened #154 "Expression timepoints are not read correctly from excel"
@juansc and I recently tried to manually perform the calculations for figuring out the LSE. When we performed the calculations for the file "perturbation_tests/math_post_L-curve/4-genes_6-edges_artificial-data_Sigmoidal_estimation_fixb-1_fixp-1_no-graph_test1", our expected LSE =
0.0126680575719571 but the reported LSE = 0.0101163680400687. We tried to trace back the cause of the problem and disco

[2015-11-18 17:54] kdahlquist commented on #154
Is it because of a datatype mismatch?  Is one of the 1.2's being interpreted as a text string instead of a number (or something like that)?

[2015-11-18 17:56] juansc commented on #154
We're not sure. On the Excel sheet all numbers have the same format. But the first two instances of 1.2 are being interpreted differently than the last one.

[2015-11-18 18:07] bengfitzpatrick commented on #154
Dr. Dahlquist is likely to be on the right track.  In excel, click on each cell of the time list, and look at what excel thinks the format of the cell is.

[2015-11-18 18:39] trixr4kdz commented on #154
We thought of that, but it seems that all of the numbers are in the same "General" format.

[2015-11-18 18:40] bengfitzpatrick commented on #154
They should be in number format, not general format.

[2015-11-18 18:44] trixr4kdz commented on #154
This problem does not happen with the rest of the timepoints even though they are also in general format. It only happens with the first two 1.2 timepoints. The rest of the data that exist in the sheets are also in general format, but they seem to be read just fine.

[2015-11-18 19:11] kdahlquist commented on #154
Even though they are all in general format, there just could be some weird stuff going on.  There could be some "ghost" formatting leftover from some copy/paste operation or something.  Try changing all of them to explicitly number format and see what happens.

[2015-11-18 19:24] bengfitzpatrick commented on #154
I agree with Dr. Dahlquist.  Please try it.

[2015-11-18 20:03] trixr4kdz commented on #154
I changed the format to number instead of general, but still ran into the same problem. Since that didn't work, I decided to just copy/paste the 1.2 value that works into the cells that don't and that fixed it. However, for future work, I think that we would still need to fix the code so that the same timepoints on excel are indeed equal.

[2015-11-18 20:32] kdahlquist commented on #154
I think that this does actually confirm our suspicion that it was a datatype mismatch; it's just that changing the type in Excel did not fix the problem (which I've seen before in other contexts).

What we will need to do is confirm that all of the timepoints are numbers when they are read in originally.  You should talk to @anuvarsh about this because she has been doing a bunch of tests for GRNsi

[2015-11-18 20:32] kdahlquist commented on #154
Also, please commit the corrected test input sheet.  We should save the "bad" one for a future test, but we should make sure that this problem isn't happening with other input sheets that we think are working properly.

[2015-11-18 22:25] trixr4kdz commented on #154
Reformatting the timepoints seem to have corrected the LSE calculation.

However, we spotted another discrepancy in the SSE calculations.
![evidence](https://cloud.githubusercontent.com/assets/8975300/11256301/0385a2dc-8e00-11e5-9951-f0b317e9e481.PNG)
It would seem that the dcin5 SSE is the cumulative sum of both wt and dcin5 SSEs

[2015-11-18 22:27] bengfitzpatrick commented on #154
I will have a look at that, Trixie.  What's the best branch for me to download?

[2015-11-18 22:34] trixr4kdz opened #155 "Reformat all excel test sheets so that the timepoints are parsed correctly"
We need to reformat all the excel sheets in order to avoid the error we were having in Issue #154. We will also create more unit tests to verify that the excel sheets are being formatted correctly.

[2015-11-18 22:42] trixr4kdz commented on #154
I would say the beta branch would be the one to download since I've only been using that branch.

[2015-11-19 01:07] dondi commented on #154
I looked at this with @juansc and @trixr4kdz and I showed them how to unpack the .xlsx file so that you can see the .xml documents that comprise the spreadsheet. We located the .xml file that holds the sheet in question, and indeed, *right at the level of the .xml file*, those cells were actually stored as `1.20000000000000002`, `1.20000000000000002`, and `1.2`, respectively.

i.e., The file itsel

[2015-12-02 01:51] GraceJohnson opened #156 "readInputSheet error when running master GRNmap code on new input sheets"
@Nwilli31 and I just attempted to run four separate input sheets from our newly made network families.  This is the error that appeared:

GRNmodel
Cell contents reference from a non-cell array object.

Error in readInputSheet (line 67)
    currentStrain = Strain{index};

Error in GRNmodel (line 30)
GRNstruct = readInputSheet(GRNstruct);

I'll provide the file I used as an input sheet here:

[dHAP4

[2015-12-02 22:28] trixr4kdz opened #157 "MATLAB 2014b license expired in the Math Dept computers"
The license for the computers in the math department have apparently expired so we couldn't run the code there anymore.

[2015-12-02 22:41] kdahlquist commented on #157
They have to be reactivated; it should be fairly straightforward, but it will take a faculty member to do it.  I will check the computers in my research lab right now (I will be able to reactivate) and submit a ticket for S120.

[2015-12-02 22:48] trixr4kdz commented on #152
It appears that Git has been installed in the computers

[2015-12-02 22:57] kdahlquist commented on #152
Yes, I'm sorry, I forgot to comment when it happened.  Closing now.

[2015-12-02 22:57] #152 closed

[2015-12-03 00:23] Nwilli31 commented on #156
@GraceJohnson and I were using the master branch instead of using the beta branch

[2015-12-03 00:32] kdahlquist commented on #157
I have manually activated the license on six computers in S120.  The three that are closest to the door in the first and second rows should work.  However, if they get restarted, the license file will be deleted.

IT needs to update the license key server which will permanently fix this issue.  I'll let you know when it is fixed.

[2015-12-03 00:45] juansc opened #158 "GRNmap must be able to deal with missing values"
We must figure out a way to deal with missing data points, in particular the case where we are missing some log2fold gene expressions for some time replicates. In the Excel sheets these values look empty; when MATLAB reads them in it treats them as NaN's. These cannot be used in computations.

[2015-12-03 00:45] kdahlquist opened #159 "GRNmap cannot handle missing values in expression sheets (or probably any other)"
With the new normalization regime, we now have missing expression values for some genes.  @GraceJohnson and @Nwilli31 have discovered that GRNmap cannot handle this situation because it sees them as NaN.

We will need to handle this in the code because it is not an option to delete the genes that have missing values.

[2015-12-03 00:47] kdahlquist commented on #159
closing because this is a duplicate of the one Juan just opened

[2015-12-03 00:47] #159 closed

[2015-12-03 00:49] kdahlquist commented on #151
This has been completed.  I'll open another issue for registration/hotel/poster creation once we hear if the abstracts are accepted.

[2015-12-03 00:49] #151 closed

[2015-12-03 00:50] kdahlquist commented on #143
Everyone has completed their set of networks and have moved on to making input sheets.

[2015-12-03 00:50] kdahlquist commented on #122
@trixr4kdz is back from the conference!

[2015-12-03 00:50] #122 closed

[2015-12-03 00:51] kdahlquist commented on #108
This is now duplicated with #143, so I'm closing.

[2015-12-03 00:51] #108 closed

[2015-12-03 01:05] Nwilli31 opened #160 "Beta Cannot Read "degradation_rates" sheet. File Not Found"
When I ran my modified input sheet after deleting all the null values, I received this error:

GRNmodel
The system cannot find the file specified.
Error using xlsread (line 247)
Worksheet 'degradation_rates' not found.

Error in readInputSheet (line 85)
[GRNstruct.degRates,GRNstruct.labels.TX0]                = xlsread(input_file,'degradation_rates');

Error in GRNmodel (line 88)
        GRNstruct

[2015-12-03 01:06] kdahlquist commented on #158
The missing values are the result of the new normalization regime for the microarray data.

[2015-12-03 03:54] kdahlquist commented on #158
In the meantime, another thing we can do is take an average of the replicate data in Excel and just use the one average value as input instead of the replicates.

[2015-12-03 19:49] kdahlquist commented on #157
IT reports that the license server has been updated and that one of the S120 computers has been manually checked.  I'll check this afternoon on a computer that we didn't modify yesterday, just to be sure, but I think this issue has been resolved.

The next time @juansc or @trixr4kdz are in the math department, they should try a computer there.  If it is still an issue, then reopen this because I'm

[2015-12-03 19:49] #157 closed

[2015-12-08 03:29] tessaam opened #161 "MATLAB error when running input sheet on master branch"
When trying to run the input sheets on the master branch of the code, @kjacks48, @khorstmann, and I all got the same MATLAB error:
Index exceeds matrix dimensions.

Error in readInputSheet (line 166)
    log2FC(i).deletion  = Deletion(i);

Error in GRNmodel (line 30)
GRNstruct = readInputSheet(GRNstruct);

We all formatted our input sheets similarly. I uploaded mine onto openwetware:
http://www.op

[2015-12-08 03:32] kjacks48 commented on #161
I also got this error when running my input sheet:

Error in readInputSheet (line 116)
    GRNstruct.labels.TX11{ii,1} = GRNstruct.labels.TX1{ii,2};

[2015-12-09 00:47] kdahlquist commented on #161
@tessaam I opened your input sheet and the production_rates sheet and degradation_rates sheet were empty.  This would definitely crash the program.  You need to get the degradation rates from the Belle spreadsheet (we used it in class last semester).  There is a value to use in the class instructions if there is no value for your particular gene.  Also, the production rates are then 2X the degrada

[2015-12-09 00:49] kdahlquist commented on #156
@GraceJohnson and @Nwilli31: could you try running the latest release version of the code from the downloads web site (version 1.2 http://kdahlquist.github.io/GRNmap/downloads.html)

[2015-12-09 01:46] trixr4kdz commented on #156
I made another wiki page called "How to format the input file for GRNmap (beta)" to differentiate how to format the beta branch sheets from the master branch since everyone seems to be having errors from using the new formatting style even though the master branch has not caught up (so the latest release has also not caught up). When you use the latest release, be sure to use the formatting in the

[2015-12-09 21:50] tessaam commented on #161
@kdahlquist I reran it with the production_rates sheet and the degradation_rates sheet filled out like we did it in class, and I got the same errors.
Do you want me to try running it on beta to see if I get the same errors?

[2015-12-09 21:51] Nwilli31 commented on #161
When running the most recent code release from the website {http://kdahlquist.github.io/GRNmap/downloads.html}, I got the following error:

Index exceeds matrix dimensions.

Error in readInputSheet (line 116)
    GRNstruct.labels.TX11{ii,1} = GRNstruct.labels.TX1{ii,2};

Error in GRNmodel (line 30)
GRNstruct = readInputSheet(GRNstruct);

Attached is the file that I ran.
[15_node_Input_sheet_added_

[2015-12-09 23:02] juansc opened #162 "Meeting in Lab Today Again?"
Can we meet in Seaver 120? @GraceJohnson @trixr4kdz and I are here already.

[2015-12-09 23:27] GraceJohnson commented on #161
I formatted the input sheet according to the instructions on the Wiki and the program is currently running (i.e. no errors). One run is estimating b and P, and another fixes these two parameters (I realized this will allow the run to take less time.
My input sheet is here. To account for the NaN's, I calculated averages for the time points and put these values into the empty cells. While this isn'

[2015-12-09 23:35] kdahlquist commented on #162
Sorry, didn't see this in time...

[2015-12-09 23:35] #162 closed

[2015-12-10 00:55] juansc opened #163 "Bug in graph.m caused by having too many strains"
We have code in the `graph.m` which prevents us from having more than 5 strains. We can fix this in two ways:
* Expand the number of colors
* Maximize the number of strains, and output and error if the user includes too many strains.

[2015-12-10 01:12] khorstmann commented on #161
Reran and got completely different errors of:
"Error using barrier (line 22)
Objective function is undefined at initial point. Fmincon cannot continue.

Error in fmincon (line 799)
    [X,FVAL,EXITFLAG,OUTPUT,LAMBDA,GRAD,HESSIAN] =
    barrier(funfcn,X,A,B,Aeq,Beq,l,u,confcn,options.HessFcn, ...

Error in lse (line 85)
        estimated_guesses =
        fmincon(@general_least_squares_error,estima

[2016-01-07 00:54] kdahlquist commented on #124
closing this because @bengfitzpatrick is out of town and won't be fixing this anytime soon.

[2016-01-07 00:54] #124 closed

[2016-01-07 01:00] kdahlquist commented on #149
closing this.

[2016-01-07 01:00] #149 closed

[2016-01-07 23:31] kdahlquist opened #164 "Branch clean-up"
1. @juansc and @trixr4kdz , in the comments to this issue:  state what is in each of these branches that is different than master:

    - L-curve

    - consolidation_branch

    - beta

    - output-directory

    - super-struct

2. Once this has been stated, on a branch by branch basis, and sequentially, we will consolidate the changes in that branch into beta.  We will do this one branch at a t

[2016-01-08 21:55] kdahlquist commented on #153
For next semester, we will be having two GRNmap meetings per week, one for the coders @juansc and @trixr4kdz and one for the data analysis team, @GraceJohnson , @tessaam , @khorstmann , @bklein7 , and @maggie-oneil .

Coders will meet on Wednesdays from 10:30-11:30 AM with myself and @dondi in LSB 289 (@kdahlquist's office).

The Data Analysis team will meet on Fridays from 3:00-4:00 PM in Seaver

[2016-01-13 06:29] kdahlquist opened #165 "Error in calculation of MSE for optimization_diagnostics sheet"
This error was previously mentioned as part of issue #154; I am breaking this out separately so it can be dealt with on its own with its own thread.  I've copied the relevant comment from @trixr4kdz below:

"However, we spotted another discrepancy in the MSE calculations.

![0385a2dc-8e00-11e5-9951-f0b317e9e481](https://cloud.githubusercontent.com/assets/6463867/12286722/a5b5e214-b97b-11e5-83fa-fe

[2016-01-15 21:31] juansc commented on #164
We reviewed L-Curve and we've concluded that we've merged L-Curve into beta already so we will delete the L-Curve branch.

[2016-01-15 21:38] juansc commented on #164
We have decided to delete the super-struct branch since it was 68 commits behind master and not much work had been done on that branch.

[2016-01-15 21:56] trixr4kdz commented on #119
For now, the code would still accept number inputs, but this would cause the program to behave incorrectly since it looks for either "MM" or "Sigmoid". We will have to modify the code so that it throws an error when a number is used instead of those strings.

[2016-01-15 22:05] juansc commented on #132
The createDiagnosticsGraph function that I created is not being called, although the program still behaves correctly. I will have to decide whether delete the function or to refactor the code to make sure it gets called.

[2016-01-15 22:22] juansc commented on #164
Beta has the following changes that differ from master:

* The beta branch has changes from the L-Curve branch.
* Beta has code that generates the diagnostic graph that addresses #132.
* We've renamed several variables from the optimization parameters sheet, as well as some other variables to make the code more readable.
* We have code that allows us to use the strings 'MM' and 'Sigmoid' for the m

[2016-01-15 22:26] juansc commented on #164
The consolidation-branch contained a text file that documented some errors when running the tests. The text file was added to the beta branch and we deleted the consolidation-branch.

[2016-01-15 22:33] kdahlquist commented on #132
Let's not work on fixing this just yet.  There are other things that have a higher priority.

[2016-01-15 22:33] kdahlquist commented on #164
What about output-directory?

[2016-01-15 22:35] trixr4kdz commented on #164
We have discovered that output-directory is very similar to beta. It does have some initial work to allow users to choose an output directory so we might want to leave it for now.

[2016-01-15 22:35] kdahlquist commented on #119
It sounds like you need to have a unit test for this.  I will take a look at it as well.  There will be some other (small changes) that need to be taken care of before closing this issue.  I will post them after I know that all the work has been done on the branch clean-up #164 .

[2016-01-15 22:39] kdahlquist commented on #164
Very similar, but not identical?  Then you should merge beta into output-directory so that it is up-to-date with the changes in beta and we have the clean slate we were looking for to start the semester.

[2016-01-15 22:49] trixr4kdz commented on #164
Beta has been merged into output-directory.

[2016-01-16 00:20] kdahlquist commented on #153
We have slightly revised the meeting time for the Data Analysis team.  We will meet from 2:30-3:30 in Seaver 120.  @GraceJohnson will join us at ~3:00 when she gets out of chem seminar.

[2016-01-16 00:21] #153 closed

[2016-01-16 00:59] kdahlquist commented on #164
I'm marking this as review requested since it seems like the work has been completed.  We will review at our next meeting.

[2016-01-16 01:14] kdahlquist opened #166 "Format input sheets for families of hypothesis networks"
@GraceJohnson , @khorstmann , and @tessaam are going to finish formatting their families of input files for next week.  Specific tasks include:

1. alphabatize gene names for each input workbook
2. add in degradation and production rates from Belle et al.: instructions found here: http://www.openwetware.org/wiki/BIOL398-04/S15:Week_13#Create_the_Input_Excel_Workbook_for_the_Model under bullets 3 a

[2016-01-18 01:43] GraceJohnson commented on #166
@kdahlquist, I checked the GitHub wiki page titled "How to format the input file for GRNmap", but I wanted to confirm that the instructions are correctly standardized on the beta code before I start formatting.

[2016-01-18 18:09] kdahlquist commented on #166
You need to use the beta instructions found here:  https://github.com/kdahlquist/GRNmap/wiki/How-to-format-the-input-file-for-GRNmap-%28beta%29

I have verified that this formatting works on the beta code.

[2016-01-19 00:29] kdahlquist commented on #161
I am going to close this since it is probably an error generated by formatting the input sheet for the wrong code (beta vs. master).

[2016-01-19 00:29] #161 closed

[2016-01-19 00:30] kdahlquist commented on #160
I am going to close this issue because it is probably due to using the wrong format of the input sheet for the wrong code (beta vs. master).

[2016-01-19 00:30] #160 closed

[2016-01-19 00:31] kdahlquist commented on #156
I am closing this because it was due to a input sheet format/code mismatch.

[2016-01-19 00:31] #156 closed

[2016-01-19 00:47] kdahlquist commented on #119
Since the branch clean up #164 is done and will be reviewed at the next meeting, I'm moving this issue up to a priority 0 so that we can finish the last remaining tasks.

1. In the documentation on how to format the input sheet for the beta branch, the parameter "Deletion" was not there.  I added it back to the wiki this morning (based on the documentation for the master branch formatting).  We ne

[2016-01-19 00:52] kdahlquist commented on #52
The last comment by @juansc says that the code is now capable of finding the right row to delete.  Can you say a bit more about how this works.  I've referenced it in issue #119.

[2016-01-19 00:55] kdahlquist commented on #164
A previous comment by @juansc said that you were going to delete the super-struct branch, but I'm still seeing it.  If you are going to delete it, please do so before Wednesday's meeting so it's all cleaned up by then.  Thanks.

[2016-01-20 18:32] kdahlquist commented on #119
One more request for the optimization_diagnostics sheet.

Change "Model" to "production_function"; the expected values will remain "Sigmoid" or "MM" for this.

[2016-01-20 18:38] juansc commented on #164
The remaining branches that we have are master, beta, gh-pages, and output-directory. beta and output-directory are up to date with each other.

[2016-01-20 18:38] #164 closed

[2016-01-20 18:41] juansc commented on #164
We will have to periodically(once a week to once every two weeks) merge beta into output-directory and run the tests to make sure the output-directory branch stays fresh.

[2016-01-20 18:59] kdahlquist commented on #52
This is how the code should work:

It will figure out what genes are deleted from the "Strain" parameter.  It ignores the "wt" strain.  For the other strains, it strips off the initial "d" and reads the gene names from the deletion strains.  It then looks through the other sheets to find that gene name.  It should be case insensitive.

@kdahlquist tried an input sheet with the "Deletion" parameter

[2016-01-20 19:00] kdahlquist opened #167 "Allow numbers as gene names"
Right now we think that if a user used a number as a gene ID, it will break the program.  We need to document this and for the (far) future think about fixing this because some Gene Databases use numbers (with no letters) as gene IDs.

[2016-01-20 19:12] kdahlquist commented on #154
I am going to close this one because it is now redundant with #155 .

[2016-01-20 19:12] kdahlquist commented on #155
I closed #154 because it was now redundant with this one.  Refer back to that issue for details.

[2016-01-20 19:14] kdahlquist commented on #129
This is the next priority after cleaning up #52 and #119 .  We need to get all of the test spreadsheets up to the new standard for the naming convention.  This goes along with the bug fix for #155 where there was a problem with the number formatting of the timepoints on the expression worksheets.

[2016-01-20 19:24] kdahlquist commented on #155
Here is a screenshot of what the new optimization_parameters worksheet should look like.
![screenshot_optimization_parameters_20150120](https://cloud.githubusercontent.com/assets/6463867/12460400/5a2f6c82-bf68-11e5-951d-a40a7261639d.jpg)

[2016-01-20 19:26] kdahlquist commented on #119
Here is a screenshot of what the optimization_parameters worksheet should look like.
![screenshot_optimization_parameters_20150120](https://cloud.githubusercontent.com/assets/6463867/12460468/9b51bc4c-bf68-11e5-9c15-2e9ce97743aa.jpg)

[2016-01-20 19:28] kdahlquist commented on #148
This is complete as of the closure of #164.  The bug reported above has been opened as a new issue #165

[2016-01-20 19:28] #148 closed

[2016-01-20 19:30] kdahlquist opened #168 "Add functionality to turn L-curve on and off"
Once the L-curve branch got merged into beta, the program now runs the L-curve automatically.  We need to be able to turn this function "on" and "off".

[2016-01-21 00:45] kdahlquist commented on #166
These questions came in via e-mail from @tessaam.  See my answers directly below each question.

1. If there isn't any data in any of the four replicates for one of the time points, should we delete that gene? For example, if there isn't any data for any of the four 15 time points for a gene in one of the log2 expression sheets, should we delete that gene for the network?

Answer: you should eithe

[2016-01-21 22:57] kdahlquist commented on #168
I want to update this issue with documentation as to how the L-curve is supposed to work.

From @bengfitzpatrick:
There is a hard-coded vector of alphas, running largest-first to smallest-last.  This vector is hardcoded within the GRNModel function. The number of alphas is hardcoded (and hence the number of points on the L-Curve is hardcoded).  (Note that it appears that @juansc and @trixr4kdz hav

[2016-01-21 23:13] kdahlquist commented on #106
There is a change in nomenclature that is required for the optimization_diagnostics sheet.  Instead of using "SSE", we need to use "MSE", which stands for Mean Squared Error.  I'm attaching a screenshot for how this should look.
![optimization_diagnostics_screenshot_20160121](https://cloud.githubusercontent.com/assets/6463867/12497580/7477f980-c051-11e5-9be9-29ea0e9627fd.jpg)

[2016-01-21 23:20] kdahlquist commented on #4
I am leaving this issue open pending changes made in issue #119.  Right now we have two pages specifying input workbooks and one specifying output workbooks.  The output wiki page needs to be updated because of the changes made to the input workbook, but I'll leave editing it until changes have been made and verified in the code.

[2016-01-22 19:18] khorstmann commented on #166
Update on progress for today's meeting since I won't be there:
-Was only able to edit/create 3 networks. 34-gene with the deletion strains, 33 gene without deletion strains, and 29 gene without deletion strains.
-Not sure how my networks jumped from 33 to 29 genes in the family w/o deletion strains being added in purposefully, think there must've been a lot of insignificant p-values and/or zeros w

[2016-01-22 23:24] GraceJohnson commented on #166
dHAP4 network family formatted according to instructions for the beta code. @maggie-oneil formatted the no deletion strain added subfamily (12 networks) while I formatted the deletion strain added subfamily (20 genes). Sample files from each subfamily were tested for correct formatting using the beta code (files successfully run, although no output files were created due to the unresolved issue #1